.mi-sider-layout {
    width: 100%;
    display: flex;
    background-color: #fff !important;
}

.mi-sider-layout__content {
    -ms-flex-positive: 1;
    -ms-flex-negative: 1;
    flex-grow: 1;
    flex-shrink: 1
}

.mi-sider-layout__scroll {
    height: 100%;
    overflow: auto
}

.mi-sider-layout__sider {
    -ms-flex-negative: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 0
}

@media screen and (min-width: 1000px) {
    .mi-sider-layout__sider {
        width: 200px
    }
}

@media screen and (min-width: 1200px) {
    .mi-sider-layout__sider {
        width: 375px
    }
}

.mi-sider-layout__banner {
    height: 100%;
    width: 0
}

[dir] .mi-sider-layout__banner {
    background-position: 50%;
    background-size: cover
}

@media screen and (min-width: 1000px) {
    .mi-sider-layout__banner {
        width: 200px
    }
}

@media screen and (min-width: 1200px) {
    .mi-sider-layout__banner {
        width: 375px
    }
}

.mi-layout {
    color: rgba(0, 0, 0, .6);
    color: var(--text-secondary-color-3);
    min-height: 100vh;
    position: relative
}

[dir] .mi-layout {
    padding-bottom: 40px
}

.mi-layout__header {
    overflow: hidden
}

[dir] .mi-layout__header {
    padding: 20px
}

.mi-layout__logo-wrap {
    display: inline-block;
    vertical-align: top
}

[dir=ltr] .mi-layout__logo-wrap {
    margin-right: 10px
}

[dir=rtl] .mi-layout__logo-wrap {
    margin-left: 10px
}

.mi-layout__logo {
    height: 40px;
    width: 40px
}

.mi-layout__title {
    color: rgba(0, 0, 0, .8);
    color: var(--text-secondary-color);
    font-size: 26px;
    font-weight: 500;
    height: 40px;
    line-height: 40px
}

[dir=ltr] .mi-layout__title {
    float: left
}

[dir=rtl] .mi-layout__title {
    float: right
}

.mi-layout__container {
    position: relative
}

[dir] .mi-layout__container {
    text-align: center
}

.mi-layout__toast {
    height: 100%;
    width: 100%
}

.mi-layout__card {
    box-sizing: border-box;
    display: inline-block;
    min-width: 450px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 720px) {
        width: 100%;
        min-width: 100%;
        margin-top: 40px !important;
    }
}

[dir] .mi-layout__card {
    border-radius: 4px;
    box-shadow: 0 20px 50px 0 hsla(0, 0%, 64%, .1);
    margin: 80px auto;
    padding: 40px 45px
}

[dir=ltr] .mi-layout__card {
    text-align: left
}

[dir=rtl] .mi-layout__card {
    text-align: right
}

.mi-layout__card .mi-tabs {
    width: 360px;
    --mi-border-color-light: #fff;

    @media screen and (max-width: 720px) {
        width: 100%;
    }
}

[dir] .mi-layout__card .mi-tabs .mi-tabs-bar {
    border-bottom: none;
    margin: 0 0 10px
}

.mi-layout__card .mi-tabs .mi-tabs__item {
    font-size: 22px;
    font-weight: 400
}

.mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs-tab {
    height: 41px;
    line-height: 41px
}

[dir] .mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs-tab {
    padding: 0 0 4px
}

[dir=ltr] .mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs-tab {
    margin: 0 20px 0 0
}

[dir=rtl] .mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs-tab {
    margin: 0 0 0 20px
}

.mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs-tab .mi-tabs__item>a {
    color: #bbb
}

[dir] .mi-layout__card .mi-tabs .mi-tabs__nav:before {
    border-bottom: none
}

.mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs-tab-active .mi-tabs__item>a {
    color: rgba(0, 0, 0, .8);
    color: var(--text-secondary-color);
    font-weight: 500
}

.mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs__active-bar {
    height: 4px
}

[dir] .mi-layout__card .mi-tabs .mi-tabs__nav .mi-tabs__active-bar {
    border-radius: 2px
}

[dir=ltr] .mi-nav {
    float: right
}

[dir=rtl] .mi-nav {
    float: left
}

.mi-nav__item {
    color: #838383;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px
}

[dir=ltr] .mi-nav__item,
[dir=rtl] .mi-nav__item {
    margin-left: 10px;
    margin-right: 10px
}

.mi-nav__item:hover {
    color: #ff6900
}

.mi-nav__divider {
    display: inline-block;
    height: 14px;
    vertical-align: middle;
    width: 0
}

[dir=ltr] .mi-nav__divider {
    border-right: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px
}

[dir=rtl] .mi-nav__divider {
    border-left: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px
}

@media (prefers-color-scheme: dark) {
    [dir=ltr] .mi-nav__divider {
        border-right-color: #333
    }

    [dir=rtl] .mi-nav__divider {
        border-left-color: #333
    }

    [dir] .mi-layout__card {
        background-color: #242424
    }

    .mi-layout .mi-tabs .mi-tabs__nav .mi-tabs-tab-active .mi-tabs__item>a {
        color: #ddd
    }
}

[dir=ltr] [dir=rtl] .mi-layout .mi-layout__toast .mi-toast {
    right: auto
}

[dir=rtl] [dir=rtl] .mi-layout .mi-layout__toast .mi-toast {
    left: auto
}

.mi-form-field__field {
    background: #f9f9f9;
    --mi-fill-color-blank: #f9f9f9;
    --mi-border-color: transparent;
    --mi-border-color-hover: transparent;
    border-radius: 4px;

    svg {
        box-sizing: border-box;
        display: flex;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;

        color: rgba(0, 0, 0, .4);
        height: 20px;
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        vertical-align: middle;
        width: 20px;
    }

    input:-internal-autofill-selected {
        background-color: transparent !important;
    }

    .mi-select__wrapper {
        padding: 30px 20px 10px;
    }

    .mi-input__wrapper {
        padding: 20px;
    }

    .mi-input__wrapper {
        justify-content: flex-start;
    }

    .mi-select__placeholder {
        overflow: visible;
    }

    .mi-input__inner,
    .mi-select__wrapper {
        font-size: 17px;
    }

    .mi-input__wrapper,
    .mi-select__wrapper {
        appearance: none;
        box-sizing: border-box;
        color: #333;
        font-size: 17px;
        height: 60px;
        line-height: 20px;
    }

    .mi-input__prefix,
    .mi-select__prefix {
        align-self: flex-start;
        font-size: 17px;
        font-weight: 400;
        height: 20px;
        line-height: 20px;
        max-width: calc(100% - 20px);
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 20px;
        transition: top .15s cubic-bezier(.4, 0, .2, 1), font-size .15s cubic-bezier(.4, 0, .2, 1), color .15s cubic-bezier(.4, 0, .2, 1);
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        color: #aaa;
        font-size: 12px;
        top: 6px;
    }

    .mi-input__suffix,
    .mi-select__suffix {
        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
    }
}


.mi-layout .mi-form .mi-button {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0 20px;
}

.mi-form-actions--inline .mi-form-action {
    max-width: 48%
}

.mi-form-action {
    font-size: 17px;
    max-width: 100%;
}

[dir] .mi-form-action {
    margin-bottom: 10px
}

.mi-form-action .mi-link {
    font-size: 17px;
}

.mi-sns-login__title {
    color: #aaa;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px
}

[dir] .mi-sns-login__title {
    text-align: center
}

.mi-sns-login__content {
    height: 46px;
    overflow: hidden
}

[dir] .mi-sns-login__content {
    margin-top: 10px
}

.mi-sns-login__list {
    width: 100%
}

[dir] .mi-sns-login__list {
    text-align: center
}

.mi-sns-login__item {
    display: inline-block;
    width: 46px
}

[dir] .mi-sns-login__item {
    margin: 0 12px
}

.mi-sns-login__icon {
    display: inline-flex;
    font-size: 46px;
    height: 46px;
    overflow: hidden;
    width: 46px;
    align-items: center;
    justify-content: center;
}

[dir] .mi-sns-login__icon {
    border-radius: 23px;
    cursor: pointer;
    margin: 0 auto
}

@media (prefers-color-scheme: dark) {
    [dir] .mi-sns-login__icon {
        background: radial-gradient(#fff 0, #fff 50%, transparent 100%);
        border-radius: 50%
    }
}

.mi-sns-login__icon>svg {
    color: #fff;
}

.mi-copyright {
    bottom: 20px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 720px) {
        white-space: wrap;
    }
}

[dir] .mi-copyright {
    padding: 0 20px;
    text-align: center
}

[dir=ltr] .mi-copyright,
[dir=rtl] .mi-copyright {
    left: 0;
    right: 0
}

.mi-copyright>a {
    color: #999
}