.user-address--wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center
}

@media screen and (max-width: 720px) {
    .user-address--wrapper {
        background-color:#fff;
        background-color: var(--background-white)
    }
}

.user-address {
    width: 100%
}

@media screen and (max-width: 720px) {
    .user-address {
        margin:0 20px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .user-address {
        margin:0
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .user-address {
        margin:0
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .user-address {
        margin:0
    }
}

@media screen and (min-width: 1921px) {
    .user-address {
        margin:0
    }
}

.user-address .user-address__card--center {
    height: 100%;
    width: 100%
}

.user-address .user-address__list-wrapper {
    background-color: #fff;
    background-color: var(--background-white);
    height: 100%;
    width: 100%
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .user-address .user-address__list-wrapper {
        padding:32px 0
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .user-address .user-address__list-wrapper {
        padding:48px 0
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .user-address .user-address__list-wrapper {
        padding:64px 0
    }
}

@media screen and (min-width: 1921px) {
    .user-address .user-address__list-wrapper {
        padding:80px 0
    }
}

@media screen and (max-width: 720px) {
    .user-address .user-address__list-wrapper {
        align-content:space-between;
        display: flex;
        flex-wrap: wrap
    }
}

.user-address .user-address__list-wrapper .user-address__card--empty {
    color: #898989;
    text-align: center;
    width: 100%
}

@media screen and (max-width: 720px) {
    .user-address .user-address__list-wrapper .user-address__card--empty {
        font-size:16px;
        margin-top: 90px
    }

    .user-address .user-address__list-wrapper .user-address__card--empty.user-address__card--empty-app {
        left: 0;
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }
}

.user-address .user-address__list-wrapper .user-address__list {
    box-sizing: border-box;
    display: grid
}

@media screen and (max-width: 720px) {
    .user-address .user-address__list-wrapper .user-address__list {
        align-content:start;
        grid-template-columns: 1fr;
        width: 100%
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .user-address .user-address__list-wrapper .user-address__list {
        gap:12px;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
        padding: 0 32px;
        width: 100%
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .user-address .user-address__list-wrapper .user-address__list {
        gap:9px 12px;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
        padding: 0 24px;
        width: 100%
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .user-address .user-address__list-wrapper .user-address__list {
        gap:14px 16px;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
        max-width: 1468px;
        padding: 0 32px
    }
}

@media screen and (min-width: 1921px) {
    .user-address .user-address__list-wrapper .user-address__list {
        gap:14px 16px;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
        max-width: 1468px;
        padding: 0
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .user-address .user-address__list-wrapper .user-address__list>div:nth-child(-n+3) {
        margin-top:0
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .user-address .user-address__list-wrapper .user-address__list>div:nth-child(-n+3) {
        margin-top:0
    }
}

@media screen and (min-width: 1921px) {
    .user-address .user-address__list-wrapper .user-address__list>div:nth-child(-n+3) {
        margin-top:0
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .user-address .user-address__list-wrapper .user-address__list>div:nth-child(-n+2) {
        margin-top:0
    }
}

.user-address .user-address__list-wrapper .user-address__add--wrapper {
    width: 100%
}

@media screen and (max-width: 720px) {
    .user-address .user-address__list-wrapper .user-address__add--wrapper {
        bottom:0;
        position: sticky
    }
}

.user-address .user-address__list-wrapper .user-address__add--wrapper .user-address__add--center {
    height: 100%;
    width: 100%
}

.mi-address__toast.mi-toast__main {
    z-index: 45
}

.breadcrumbs-wrapper {
    margin: 0 auto;
    width: 100%
}

@media screen and (max-width: 720px) {
    .breadcrumbs-wrapper {
        display:none
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .breadcrumbs-wrapper {
        margin-top:24px;
        max-width: 1024px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .breadcrumbs-wrapper {
        margin-top:24px;
        max-width: 1440px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .breadcrumbs-wrapper {
        margin-top:32px;
        max-width: 1500px
    }
}

@media screen and (min-width: 1921px) {
    .breadcrumbs-wrapper {
        margin-top:40px;
        max-width: 1500px
    }
}

.breadcrumbs-wrapper .breadcrumbs__message {
    background-color: #f7f7f7;
    background-color: var(--background-base)
}

.breadcrumbs-wrapper .mi-breadcrumbs {
    padding: 0 32px
}

.mi-breadcrumbs {
    background: #fff;
    background: var(--background-white);
    color: #191919;
    color: var(--text-base)
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-breadcrumbs {
        font-size:12px;
        height: 14px;
        line-height: 14px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-breadcrumbs {
        font-size:16px;
        height: 24px;
        line-height: 24px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-breadcrumbs {
        font-size:16px;
        height: 24px;
        line-height: 24px
    }
}

@media screen and (min-width: 1921px) {
    .mi-breadcrumbs {
        font-size:16px;
        height: 24px;
        line-height: 24px
    }
}

.mi-breadcrumbs-link a {
    color: #898989;
    color: var(--text-secondary);
    cursor: pointer
}

.mi-breadcrumbs-link a:hover {
    color: var(--link-active)
}

.mi-breadcrumbs-link h1,.mi-breadcrumbs-link h2 {
    display: inline-block;
    font-weight: 400;
    margin: 0
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-breadcrumbs-link h1,.mi-breadcrumbs-link h2 {
        font-size:12px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-breadcrumbs-link h1,.mi-breadcrumbs-link h2 {
        font-size:16px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-breadcrumbs-link h1,.mi-breadcrumbs-link h2 {
        font-size:16px
    }
}

@media screen and (min-width: 1921px) {
    .mi-breadcrumbs-link h1,.mi-breadcrumbs-link h2 {
        font-size:16px
    }
}

.mi-breadcrumbs-separator {
    color: #898989;
    color: var(--text-secondary)
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-breadcrumbs-separator {
        margin:12px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-breadcrumbs-separator {
        margin:16px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-breadcrumbs-separator {
        margin:16px
    }
}

@media screen and (min-width: 1921px) {
    .mi-breadcrumbs-separator {
        margin:16px
    }
}

.mi-breadcrumbs .container>span:last-child .mi-breadcrumbs-separator {
    display: none
}

.page-headings {
    align-items: center;
    background-color: #f7f7f7;
    background-color: var(--background-base);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--max-width-1400);
    text-align: center;
    width: 100%
}

@media screen and (max-width: 720px) {
    .page-headings {
        padding:32px 16px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .page-headings {
        padding:32px 20px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .page-headings {
        padding:48px 24px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .page-headings {
        padding:60px 0
    }
}

@media screen and (min-width: 1921px) {
    .page-headings {
        padding:80px 0
    }
}

.page-headings.page-headings--has-children {
    padding-bottom: 0
}

.page-headings__title {
    color: #191919;
    color: var(--text-base);
    font-weight: 700;
    margin: 0
}

@media screen and (max-width: 720px) {
    .page-headings__title {
        font-size:24px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .page-headings__title {
        font-size:32px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .page-headings__title {
        font-size:42px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .page-headings__title {
        font-size:56px
    }
}

@media screen and (min-width: 1921px) {
    .page-headings__title {
        font-size:64px
    }
}

.page-headings__subtitle {
    color: #898989;
    color: var(--text-secondary);
    font-weight: 400;
    margin: 0
}

@media screen and (max-width: 720px) {
    .page-headings__subtitle {
        font-size:16px;
        margin-top: 12px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .page-headings__subtitle {
        font-size:18px;
        margin-top: 16px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .page-headings__subtitle {
        font-size:18px;
        margin-top: 21px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .page-headings__subtitle {
        font-size:24px;
        margin-top: 28px
    }
}

@media screen and (min-width: 1921px) {
    .page-headings__subtitle {
        font-size:24px;
        margin-top: 32px
    }
}

body.mi-modal__body--overflow-hidden {
    overflow: hidden
}

.mi-modal .ReactModal__Overlay {
    background-color: transparent;
    transition: background-color .25s ease-in-out
}

.mi-modal .ReactModal__Overlay--after-open.mi-modal__overlay {
    background-color: rgba(0,0,0,.6)
}

.mi-modal .ReactModal__Overlay--before-close.mi-modal__overlay {
    background-color: transparent
}

.mi-modal .ReactModal__Content {
    opacity: 0;
    overflow: hidden;
    transform: translateY(-65%);
    transition-duration: .35s;
    transition-property: opacity,transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.mi-modal .ReactModal__Content--after-open.mi-modal__content {
    opacity: 1;
    transform: translateY(-50%)
}

.mi-modal .ReactModal__Content--before-close.mi-modal__content {
    opacity: 0;
    transform: translateY(-65%)
}

.mi-modal .mi-modal__overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 30
}

.mi-modal .mi-modal__content {
    --modal-footer-padding-vertical: var(--content-padding);
    --modal-footer-padding-horizontal: var(--content-padding);
    background-color: #fff;
    background-color: var(--background-white);
    border-radius: 4px;
    bottom: unset;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    left: 0;
    margin: auto;
    max-height: min(80%,900px);
    max-width: var(--modal-max-width);
    min-width: var(--modal-min-width);
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    width: auto;
    width: -moz-fit-content;
    width: fit-content
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__content {
        --content-padding:16px;
        --drawer-content-padding: 16px;
        --close-button-size: 20px;
        --modal-min-width: 240px;
        --modal-max-width: 80%;
        --font-size-heading: 16px;
        --font-size-subtitle: 12px;
        --font-size-button: 12px;
        --button-padding: 10px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-modal .mi-modal__content {
        --content-padding:20px;
        --drawer-content-padding: 40px;
        --close-button-size: 20px;
        --modal-min-width: 270px;
        --modal-max-width: 480px;
        --font-size-heading: 16px;
        --font-size-subtitle: 12px;
        --font-size-button: 14px;
        --button-padding: 10px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-modal .mi-modal__content {
        --content-padding:24px;
        --drawer-content-padding: 48px;
        --close-button-size: 24px;
        --modal-min-width: 360px;
        --modal-max-width: 560px;
        --font-size-heading: 20px;
        --font-size-subtitle: 16px;
        --font-size-button: 16px;
        --button-padding: 12px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-modal .mi-modal__content {
        --content-padding:30px;
        --drawer-content-padding: 60px;
        --close-button-size: 24px;
        --modal-min-width: 420px;
        --modal-max-width: 640px;
        --font-size-heading: 24px;
        --font-size-subtitle: 18px;
        --font-size-button: 18px;
        --button-padding: 12px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__content {
        --content-padding:30px;
        --drawer-content-padding: 60px;
        --close-button-size: 24px;
        --modal-min-width: 420px;
        --modal-max-width: 640px;
        --font-size-heading: 24px;
        --font-size-subtitle: 18px;
        --font-size-button: 18px;
        --button-padding: 12px
    }
}

.mi-modal .mi-modal__header {
    align-items: center;
    box-sizing: border-box;
    color: #191919;
    color: var(--text-base);
    display: flex;
    flex-basis: auto;
    flex-flow: column nowrap;
    flex-shrink: 0;
    justify-content: center;
    padding: var(--content-padding);
    width: 100%
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__header {
        padding-bottom:calc(var(--content-padding) + 4px)
    }
}

.mi-modal .mi-modal__header:empty {
    display: none
}

.mi-modal .mi-modal__header .mi-modal__extra,.mi-modal .mi-modal__header .mi-modal__title-wrap {
    box-sizing: border-box;
    color: #191919;
    color: var(--text-base);
    margin: 0;
    width: 100%
}

.mi-modal .mi-modal__header .mi-modal__extra--left,.mi-modal .mi-modal__header .mi-modal__title-wrap--left {
    -webkit-padding-end: var(--close-button-size);
    padding-inline-end:var(--close-button-size);text-align: start
}

.mi-modal .mi-modal__header .mi-modal__extra--center,.mi-modal .mi-modal__header .mi-modal__title-wrap--center {
    padding: 0 var(--close-button-size);
    text-align: center
}

.mi-modal .mi-modal__header .mi-modal__extra .mi-modal__title,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__title {
    font-size: var(--font-size-heading);
    font-weight: 500;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0
}

.mi-modal .mi-modal__header .mi-modal__extra .mi-modal__subtitle,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__subtitle {
    color: #8c8c8c;
    color: var(--brand-black-50);
    font-size: var(--font-size-subtitle);
    font-weight: 400;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__header .mi-modal__extra .mi-modal__subtitle,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__subtitle {
        margin-top:4px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-modal .mi-modal__header .mi-modal__extra .mi-modal__subtitle,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__subtitle {
        margin-top:6px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-modal .mi-modal__header .mi-modal__extra .mi-modal__subtitle,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__subtitle {
        margin-top:8px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-modal .mi-modal__header .mi-modal__extra .mi-modal__subtitle,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__subtitle {
        margin-top:12px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__header .mi-modal__extra .mi-modal__subtitle,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__subtitle {
        margin-top:12px
    }
}

.mi-modal .mi-modal__header .mi-modal__extra .mi-modal__subtitle:empty,.mi-modal .mi-modal__header .mi-modal__title-wrap .mi-modal__subtitle:empty {
    display: none
}

.mi-modal .mi-modal__header .mi-modal__close {
    --icon-font-size: var(--close-button-size);
    --close-button-position: var(--content-padding);
    color: #a3a3a3;
    color: var(--brand-black-40);
    cursor: pointer;
    left: unset;
    position: absolute;
    right: var(--close-button-position);
    top: var(--close-button-position);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

[dir=rtl] .mi-modal .mi-modal__header .mi-modal__close {
    left: var(--close-button-position);
    right: unset
}

.mi-modal .mi-modal__header .mi-modal__close:hover {
    color: #8c8c8c;
    color: var(--brand-black-50)
}

.mi-modal .mi-modal__header .mi-modal__close .micon {
    display: block
}

.mi-modal .mi-modal__header--only-close .mi-modal__close {
    top: calc(var(--close-button-position)/2)
}

.mi-modal .mi-modal__main {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: var(--modal-footer-padding-vertical) auto;
    max-height: 70vh;
    min-height: var(--font-size-heading);
    overflow: auto;
    overscroll-behavior: contain;
    padding: 0 var(--content-padding);
    white-space: pre-line;
    width: 100%;
    word-break: break-word
}

.mi-modal .mi-modal__content.hidden-scroll .mi-modal__main {
    --ms-overflow-style: none;
    scrollbar-color: transparent transparent;
    scrollbar-width: none
}

.mi-modal .mi-modal__content.hidden-scroll .mi-modal__main::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

.mi-modal .mi-modal__footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto;
    padding: var(--modal-footer-padding-vertical) var(--modal-footer-padding-horizontal);
    width: 100%
}

.mi-modal .mi-modal__footer:empty {
    display: none
}

.mi-modal .mi-modal__footer .mi-modal__action {
    grid-gap: calc(var(--modal-footer-padding-horizontal)/2);
    display: grid;
    gap: calc(var(--modal-footer-padding-horizontal)/2);
    grid-template-columns: repeat(2,1fr);
    width: 100%
}

.mi-modal .mi-modal__footer .mi-modal__button {
    --btn-font-size: var(--font-size-button);
    --btn-padding-vertical: var(--button-padding);
    --btn-padding-horizontal: var(--button-padding);
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-basis: auto;
    justify-content: center;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap
}

.mi-modal .mi-modal__footer .mi-modal__button:only-child {
    grid-column: span 2
}

.mi-modal .mi-modal__footer .mi-modal__footnote {
    color: #8c8c8c;
    color: var(--brand-black-50);
    font-size: var(--font-size-subtitle);
    margin-top: var(--font-size-subtitle);
    text-align: center;
    width: 100%
}

.mi-modal .mi-modal__header:not(:empty)+.mi-modal__main {
    margin-top: 0;
    padding-top: 0
}

.mi-modal .mi-modal__header:not(:empty)+.mi-modal__footer,.mi-modal .mi-modal__main+.mi-modal__footer {
    margin-top: calc(var(--modal-footer-padding-vertical)*-1)
}

.mi-modal.mi-modal--drawer .ReactModal__Content {
    left: unset;
    max-height: unset;
    opacity: 1;
    right: 0;
    top: 0;
    transform: translateX(calc(var(--cardinal-number)*100%))
}

[dir=rtl] .mi-modal.mi-modal--drawer .ReactModal__Content {
    left: 0;
    right: unset
}

.mi-modal.mi-modal--drawer .ReactModal__Content--after-open.mi-modal__content {
    opacity: 1;
    transform: translateX(0)
}

.mi-modal.mi-modal--drawer .ReactModal__Content--before-close.mi-modal__content {
    opacity: 1;
    transform: translateX(calc(var(--cardinal-number)*100%))
}

.mi-modal.mi-modal--drawer .mi-modal__content {
    --content-padding: var(--drawer-content-padding);
    --modal-footer-padding-horizontal: var(--content-padding);
    border-radius: 0;
    height: 100%;
    min-width: unset
}

@media screen and (max-width: 720px) {
    .mi-modal.mi-modal--drawer .mi-modal__content {
        --modal-footer-padding-vertical:var(--content-padding);
        width: 100%
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-modal.mi-modal--drawer .mi-modal__content {
        --modal-footer-padding-vertical:calc(var(--content-padding)/2);
        width: 480px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-modal.mi-modal--drawer .mi-modal__content {
        --modal-footer-padding-vertical:calc(var(--content-padding)/2);
        width: 520px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-modal.mi-modal--drawer .mi-modal__content {
        --modal-footer-padding-vertical:calc(var(--content-padding)/2);
        width: 600px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal.mi-modal--drawer .mi-modal__content {
        --modal-footer-padding-vertical:calc(var(--content-padding)/2);
        width: 600px
    }
}

.mi-modal.mi-modal--drawer .mi-modal__header {
    box-sizing: border-box;
    margin: var(--content-padding) var(--content-padding) calc(var(--content-padding)/2);
    padding: 0 0 calc(var(--content-padding)/2);
    width: unset
}

@media screen and (max-width: 720px) {
    .mi-modal.mi-modal--drawer .mi-modal__header {
        border-bottom:0;
        font-size: 16px;
        justify-content: flex-start;
        padding-bottom: calc(var(--content-padding)/2 + 4px)
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-modal.mi-modal--drawer .mi-modal__header {
        border-bottom:1px solid #e7e7e7;
        border-bottom: 1px solid var(--brand-grey-20);
        font-size: 20px;
        justify-content: space-between
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-modal.mi-modal--drawer .mi-modal__header {
        border-bottom:1px solid #e7e7e7;
        border-bottom: 1px solid var(--brand-grey-20);
        font-size: 22px;
        justify-content: space-between
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-modal.mi-modal--drawer .mi-modal__header {
        border-bottom:1px solid #e7e7e7;
        border-bottom: 1px solid var(--brand-grey-20);
        font-size: 24px;
        justify-content: space-between
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal.mi-modal--drawer .mi-modal__header {
        border-bottom:1px solid #e7e7e7;
        border-bottom: 1px solid var(--brand-grey-20);
        font-size: 28px;
        justify-content: space-between
    }
}

.mi-modal.mi-modal--drawer .mi-modal__main {
    height: 100%;
    margin: 0 auto;
    max-height: unset!important;
    padding: var(--modal-footer-padding-vertical) var(--content-padding)
}

.mi-modal.mi-modal--drawer .mi-modal__main+.mi-modal__footer {
    margin-top: 0
}

@media screen and (max-width: 720px) {
    .mi-modal.mi-modal--bottom .ReactModal__Content,.mi-modal.mi-modal--drawer .ReactModal__Content {
        opacity:1;
        transform: translateY(100%)
    }

    .mi-modal.mi-modal--bottom .ReactModal__Content--after-open.mi-modal__content,.mi-modal.mi-modal--drawer .ReactModal__Content--after-open.mi-modal__content {
        opacity: 1;
        transform: translateY(0)
    }

    .mi-modal.mi-modal--bottom .ReactModal__Content--before-close.mi-modal__content,.mi-modal.mi-modal--drawer .ReactModal__Content--before-close.mi-modal__content {
        opacity: 1;
        transform: translateY(100%)
    }

    .mi-modal.mi-modal--bottom .mi-modal__content,.mi-modal.mi-modal--drawer .mi-modal__content {
        border-radius: 12px 12px 0 0;
        bottom: 0;
        height: auto;
        height: -moz-fit-content;
        height: fit-content;
        left: 0;
        max-height: 85vh;
        max-width: 100%;
        min-height: max(50vh,120px);
        right: 0;
        top: unset;
        width: 100%
    }

    .mi-modal.mi-modal--bottom .mi-modal__header,.mi-modal.mi-modal--drawer .mi-modal__header {
        flex-shrink: 0
    }

    .mi-modal.mi-modal--bottom .mi-modal__main,.mi-modal.mi-modal--drawer .mi-modal__main {
        margin-bottom: 0
    }

    .mi-modal.mi-modal--bottom .mi-modal__main.show-main-layer,.mi-modal.mi-modal--drawer .mi-modal__main.show-main-layer {
        position: relative
    }

    .mi-modal.mi-modal--bottom .mi-modal__main+.mi-modal__footer,.mi-modal.mi-modal--drawer .mi-modal__main+.mi-modal__footer {
        margin-top: 0
    }
}

.mi-modal.mi-modal--dialog .mi-modal__content {
    box-shadow: 0 6px 12px 0 rgba(25,25,25,.08)
}

.mi-modal__main-layer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
