.user-center__container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 2560px;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .user-center__container {
        font-size: 12px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-center__container {
        font-size: 16px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-center__container {
        font-size: 18px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-center__container {
        font-size: 20px;
    }
}

@media screen and (min-width: 1921px) {
    .user-center__container {
        font-size: 20px;
    }
}

.user-center__container .user-center__section {
    overflow: hidden;
    padding: 0 var(--site-horizontal-padding);
}

@media screen and (max-width: 720px) {
    .user-center__container .user-center__section {
        background-color: #fff;
        background-color: var(--background-white);
        max-width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-center__container .user-center__section {
        max-width:1024px
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-center__container .user-center__section {
        max-width:1440px
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-center__container .user-center__section {
        max-width:1500px
    }
}

@media screen and (min-width: 1921px) {
    .user-center__container .user-center__section {
        max-width:1500px
    }
}

.user-center__container .container__title {
    flex-shrink: 0;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
}

.user-center__container .icon-forward {
    display: inline-block;
    font-weight: 700;
    transform: scaleX(var(--cardinal-number));
    vertical-align: middle;
}

@media screen and (max-width: 720px) {
    .user-center__container .icon-forward {
        -webkit-margin-start: 5px;
        color: #898989;
        color: var(--text-secondary);
        font-size: 13px;
        margin-inline-start: 5px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-center__container .icon-forward {
        -webkit-margin-start: 0.234375vw;
        font-size: 16px;
        margin-inline-start: 0.234375vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-center__container .icon-forward {
        -webkit-margin-start: 0.234375vw;
        font-size: 18px;
        margin-inline-start: 0.234375vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-center__container .icon-forward {
        -webkit-margin-start: 0.234375vw;
        font-size: 20px;
        margin-inline-start: 0.234375vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-center__container .icon-forward {
        -webkit-margin-start: 6px;
        font-size: 20px;
        margin-inline-start: 6px;
    }
}

.loading-wrapper {
    background-color: #fff;
    background-color: var(--background-white);
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .loading-wrapper {
        margin-bottom: 11px;
        padding: 16px 0;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .loading-wrapper {
        margin-bottom: 3.125vw;
        padding: 1.796875vw 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .loading-wrapper {
        margin-bottom: 3.125vw;
        padding: 1.796875vw 0;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .loading-wrapper {
        margin-bottom: 3.125vw;
        padding: 1.796875vw 0;
    }
}

@media screen and (min-width: 1921px) {
    .loading-wrapper {
        margin-bottom: 80px;
        padding: 46px 0;
    }
}

.clip-image--shadow,
.clip-image__border--shadow {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.29));
}

.sign-out__item {
    align-items: center;
    background-color: #fff;
    background-color: var(--background-white);
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    text-align: start;
}

@media screen and (max-width: 720px) {
    .sign-out__item {
        box-shadow: inset 0 -1px hsla(0, 0%, 93%, 0.5);
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        margin: 0 auto 12px;
        min-height: 52px;
        padding: 16px 12px;
        width: 100%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .sign-out__item {
        min-height: 15.625vw;
        padding: 3.515625vw 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .sign-out__item {
        min-height: 15.625vw;
        padding: 3.515625vw 0;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .sign-out__item {
        min-height: 15.625vw;
        padding: 3.515625vw 0;
    }
}

@media screen and (min-width: 1921px) {
    .sign-out__item {
        min-height: 400px;
        padding: 90px 0;
    }
}

@media screen and (max-width: 720px) {
    .sign-out__item .sign-out__icon {
        -webkit-margin-end: 12px;
        font-size: 18px;
        margin-inline-end: 12px;
    }
}

.sign-out__item .sign-out__title {
    box-sizing: border-box;
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .sign-out__item .sign-out__title {
        flex-grow: 1;
        font-size: 16px;
        margin-top: 2px;
        text-align: start;
    }
}

.mi-btn__flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .mi-btn-link__hover:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .mi-btn-link__hover:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .mi-btn-link__hover:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1921px) {
    .mi-btn-link__hover:hover {
        text-decoration: underline;
    }
}

.f-capitalize {
    text-transform: capitalize;
}

.user-account__overview {
    background-color: #dbdbdb;
    background-color: var(--background-grey);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    color: var(--text-reverse);
    max-width: 2560px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .user-account__overview {
        background-position: center 0;
        background-size: cover;
        color: #191919;
        color: var(--text-base);
        font-size: 12px;
        height: auto;
        margin-bottom: 11px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview {
        font-size: 16px;
        height: 31.25vw;
        margin-bottom: 3.125vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview {
        font-size: 18px;
        height: 25vw;
        margin-bottom: 3.125vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview {
        font-size: 20px;
        height: 25vw;
        margin-bottom: 3.125vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview {
        font-size: 24px;
        height: 640px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 720px) {
    .user-account__overview .loading-wrapper {
        height: 214px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .loading-wrapper {
        height: 31.25vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .loading-wrapper {
        height: 25vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .loading-wrapper {
        height: 25vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .loading-wrapper {
        height: 640px;
    }
}

.user-account__overview .m-top-video-box {
    display: block;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .user-account__overview .m-top-video-box {
        height: 214px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .m-top-video-box {
        height: 31.25vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .m-top-video-box {
        height: 25vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .m-top-video-box {
        height: 25vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .m-top-video-box {
        height: 640px;
    }
}

.user-account__overview .account-overview-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 0 var(--site-horizontal-padding);
}

@media screen and (max-width: 720px) {
    .user-account__overview .account-overview-main {
        background-color: #fff;
        background-color: var(--background-white);
        margin-top: 155px;
        max-width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .account-overview-main {
        max-width:1024px
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .account-overview-main {
        max-width:1440px
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .account-overview-main {
        max-width:1500px
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .account-overview-main {
        max-width:1500px
    }
}

.user-account__overview .overview-main {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    height: 100%;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main {
        align-items: center;
        flex-direction: column;
        padding: 0 13px 27px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main {
        padding: 10.83984375vw 5.859375vw 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main {
        padding: 7.03125vw 5.859375vw 0;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main {
        padding: 7.03125vw 5.859375vw 0;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main {
        padding: 180px 150px 0;
    }
}

.user-account__overview .overview-main .account-info-block {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block {
        align-items: center;
        flex-direction: column;
        margin-top: -32px;
        text-align: center;
    }
}

.user-account__overview .overview-main .account-info-block .account-avatar-wrapper {
    cursor: pointer;
}

.user-account__overview .overview-main .account-info-block .account-avatar {
    align-items: center;
    background-color: #dbdbdb;
    clip-path: url(#svgClipPath);
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .account-avatar {
        height: 67px;
        width: 67px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main .account-info-block .account-avatar {
        height: 9.375vw;
        width: 9.375vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main .account-info-block .account-avatar {
        height: 7.8125vw;
        width: 7.8125vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main .account-info-block .account-avatar {
        height: 7.8125vw;
        width: 7.8125vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main .account-info-block .account-avatar {
        height: 200px;
        width: 200px;
    }
}

.user-account__overview .overview-main .account-info-block .account-avatar img {
    clip-path: url(#svgClipPath);
    margin: auto;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .account-avatar img {
        height: 67px;
        width: 67px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main .account-info-block .account-avatar img {
        height: 9.375vw;
        width: 9.375vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main .account-info-block .account-avatar img {
        height: 7.8125vw;
        width: 7.8125vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main .account-info-block .account-avatar img {
        height: 7.8125vw;
        width: 7.8125vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main .account-info-block .account-avatar img {
        height: 200px;
        width: 200px;
    }
}

.user-account__overview .overview-main .account-info-block .account-avatar .clip-image__border--shadow {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.29));
}

.user-account__overview .overview-main .account-info-block .info-box {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .info-box {
        max-width: 90vw;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main .account-info-block .info-box {
        -webkit-margin-start: 1.46484375vw;
        margin-inline-start: 1.46484375vw;
        max-height: 27.34375vw;
        max-width: 29.296875vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main .account-info-block .info-box {
        -webkit-margin-start: 1.875vw;
        margin-inline-start: 1.875vw;
        max-height: 10.9375vw;
        max-width: 26.5625vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main .account-info-block .info-box {
        -webkit-margin-start: 1.875vw;
        margin-inline-start: 1.875vw;
        max-height: 10.9375vw;
        max-width: 26.5625vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main .account-info-block .info-box {
        -webkit-margin-start: 48px;
        margin-inline-start: 48px;
        max-height: 280px;
        max-width: 680px;
    }
}

.user-account__overview .overview-main .account-info-block .info-box .info-box__item {
    margin-bottom: 8px;
}

.user-account__overview .overview-main .account-info-block .info-box .greetings {
    font-weight: 700;
    margin-bottom: 0;
    overflow: hidden;
    word-break: break-word;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings {
        font-size: 22px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings {
        font-size: max(2.34375vw, 12px);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings {
        font-size: max(1.875vw, 12px);
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings {
        font-size: max(1.875vw, 12px);
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings {
        font-size: 48px;
    }
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings:first-child {
        margin-top: 12px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings:first-child {
        margin-top: 0.390625vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings:first-child {
        margin-top: 0.703125vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings:first-child {
        margin-top: 0.703125vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main .account-info-block .info-box .greetings:first-child {
        margin-top: 18px;
    }
}

.user-account__overview .overview-main .account-info-block .info-box .member {
    align-items: center;
    background: linear-gradient(90deg, #fff7e4, #ffda83 143.66%);
    border: 1px solid #fff;
    border: 1px solid var(--background-white);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: #000;
    display: flex;
    justify-content: space-between;
    width: -moz-fit-content;
    width: fit-content;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .info-box .member {
        --image-width: 16px;
        --image-height: 16px;
        --gap-4: 5px;
        --border-radius: 8px;
        --copy-icon-size: 16px;
        --copy-icon-gap: 5.6px;
        font-size: 12px;
        font-weight: 500;
        gap: 10px;
        height: 24px;
        padding: 4px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main .account-info-block .info-box .member {
        --image-width: 12px;
        --image-height: 12px;
        --gap-4: 4px;
        --border-radius: 8px;
        --copy-icon-size: 18px;
        --copy-icon-gap: 4px;
        font-size: 14px;
        font-weight: 500;
        gap: 8px;
        height: 24px;
        margin-top: 8px;
        padding: 6px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main .account-info-block .info-box .member {
        --image-width: 24px;
        --image-height: 24px;
        --gap-4: 4px;
        --border-radius: 12px;
        --copy-icon-size: 24px;
        --copy-icon-gap: 8px;
        font-size: 16px;
        font-weight: 500;
        gap: 8px;
        height: 36px;
        margin-top: 8px;
        padding: 6px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main .account-info-block .info-box .member {
        --image-width: 24px;
        --image-height: 24px;
        --gap-4: 4px;
        --border-radius: 12px;
        --copy-icon-size: 24px;
        --copy-icon-gap: 8px;
        font-size: 16px;
        font-weight: 500;
        gap: 8px;
        height: 36px;
        margin-top: 8px;
        padding: 6px;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main .account-info-block .info-box .member {
        --image-width: 24px;
        --image-height: 24px;
        --gap-4: 4px;
        --border-radius: 12px;
        --copy-icon-size: 24px;
        --copy-icon-gap: 8px;
        font-size: 16px;
        font-weight: 500;
        gap: 8px;
        height: 36px;
        margin-top: 8px;
        padding: 6px;
    }
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .info-box .member {
        -webkit-margin-before: 8px;
        margin-block-start: 8px;
    }
}

.user-account__overview .overview-main .account-info-block .info-box .member .member-label {
    align-items: center;
    display: inline-flex;
    gap: 8px;
}

.user-account__overview .overview-main .account-info-block .info-box .member .member-label img {
    height: var(--image-height);
    width: var(--image-width);
}

.user-account__overview .overview-main .account-info-block .info-box .member .member-num {
    align-items: center;
    display: inline-flex;
    gap: var(--copy-icon-gap);
}

.user-account__overview .overview-main .account-info-block .info-box .member .member-vip {
    white-space: nowrap;
    word-break: keep-all;
}

.user-account__overview .overview-main .account-info-block .info-box .member .micon-copy-outlined {
    font-size: var(--copy-icon-size);
}

.user-account__overview .overview-main .account-info-block .info-box .member .micon-wrapper {
    cursor: pointer;
}

.user-account__overview .overview-main .account-info-block .info-box .email {
    margin-top: 8px;
}

@media screen and (max-width: 720px) {
    .user-account__overview .overview-main .account-info-block .info-box .email {
        color: #999;
        margin-bottom: 27px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__overview .overview-main .account-info-block .info-box .email {
        margin-top: 0.390625vw;
    }
}

.user-account__overview .overview-main .account-info-block .info-box .edit-info__link {
    color: #fff;
    color: var(--text-reverse);
    cursor: pointer;
    padding: 0;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__overview .overview-main .account-info-block .info-box .edit-info__link {
        margin-bottom: 0.703125vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__overview .overview-main .account-info-block .info-box .edit-info__link {
        margin-bottom: 0.703125vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__overview .overview-main .account-info-block .info-box .edit-info__link {
        margin-bottom: 18px;
    }
}

.user-account__overview .overview-main .account-info-block .info-box .email-content {
    position: relative;
}

.user-account__overview .overview-main .account-info-block .info-box .edit-icon {
    -webkit-margin-start: 8px;
    display: inline-block;
    font-size: 12px;
    margin-inline-start: 8px;
}

.clip-image {
    display: inline-block;
    position: relative;
}

.clip-image--shadow {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.clip-image>img {
    clip-path: url(#svgClipPath);
    object-fit: cover;
}

.clip-image__border {
    left: 0;
    position: absolute;
    top: 0;
}

.clip-image__border--shadow {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.responsive-image {
    display: block;
}

@media screen and (max-width: 720px) {
    .edit-modal-main {
        width: 100%;
        height: 100% !important;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .edit-modal-main {
        width: 480px !important;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .edit-modal-main {
        width: 480px !important;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .edit-modal-main {
        width: 640px !important;
    }
}

@media screen and (min-width: 1921px) {
    .edit-modal-main {
        width: 640px !important;
    }
}

.edit-modal-main .edit-modal__avatar {
    background-color: #dbdbdb;
    clip-path: url(#svgClipPath);
    height: 120px;
    margin: 20px auto 30px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 120px;
}

@media screen and (max-width: 720px) {
    .edit-modal-main .edit-modal__avatar {
        height: 67px;
        margin: 20px auto;
        width: 67px;
    }
}

.edit-modal-main .edit-modal__avatar .avatar-img {
    height: 120px;
    width: 120px;
}

@media screen and (max-width: 720px) {
    .edit-modal-main .edit-modal__avatar .avatar-img {
        height: 67px;
        width: 67px;
    }
}

.edit-modal-main .edit-modal__avatar .avatar-img>img {
    height: 120px;
    width: 120px;
}

@media screen and (max-width: 720px) {
    .edit-modal-main .edit-modal__avatar .avatar-img>img {
        height: 67px;
        width: 67px;
    }
}

.edit-modal-main .edit-modal__avatar .clip-image__border--shadow {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.29));
}

.edit-modal-main .edit-modal-avatar_edit {
    align-items: center;
    background-color: #191919;
    background-color: var(--background-black);
    bottom: 0;
    cursor: pointer;
    display: flex;
    height: 34px;
    justify-content: center;
    left: 0;
    opacity: 0.7;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .edit-modal-main .edit-modal-avatar_edit {
        height: 16px;
    }
}

.edit-modal-main .edit-modal-avatar_edit .upload-avatar__icon {
    color: #fff;
    color: var(--text-reverse);
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    .edit-modal-main .edit-modal-avatar_edit .upload-avatar__icon {
        font-size: 12px;
    }
}

.user-account__orders {
    align-self: center;
    background-color: #fff;
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .user-account__orders {
        margin-bottom: 11px;
    }
}

.user-account__orders .orders__header {
    align-items: center;
    box-shadow: 0 1px #eee;
    box-shadow: 0 1px var(--skeleton-color);
    box-sizing: border-box;
    color: #191919;
    color: var(--text-base);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 94%;
}

@media screen and (max-width: 720px) {
    .user-account__orders .orders__header {
        padding: 16px 12px;
        width: 100%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__orders .orders__header {
        padding: 1.5625vw 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__orders .orders__header {
        padding: 1.5625vw 0;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__orders .orders__header {
        padding: 1.5625vw 0;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__orders .orders__header {
        padding: 40px 0;
    }
}

@media screen and (max-width: 720px) {
    .user-account__orders .orders__header .more-order__link {
        color: #898989;
        color: var(--text-secondary);
    }
}

.user-account__orders .orders__header .orders__time {
    flex-grow: 1;
}

@media screen and (max-width: 720px) {
    .user-account__orders .orders__header .orders__time {
        margin: 0 6px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .user-account__orders .orders__header .orders__time {
        margin: 0 2.34375vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .user-account__orders .orders__header .orders__time {
        margin: 0 1.5625vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .user-account__orders .orders__header .orders__time {
        margin: 0 1.5625vw;
    }
}

@media screen and (min-width: 1921px) {
    .user-account__orders .orders__header .orders__time {
        margin: 0 40px;
    }
}
.orders-swiper-container {
    overflow: hidden;
    padding: 18px 12px 26px;
}

.orders-swiper-container .orders-nav .orders-nav__item {
    box-sizing: border-box;
    padding: 0 6px;
    width: auto;
}

.orders-swiper-container .orders-nav .orders-nav__item>a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

.orders-swiper-container .orders-nav .orders-nav__item .orders-num {
    background-color: #ffe6d5;
    border-radius: 16px;
    box-sizing: border-box;
    color: #ff6900;
    color: var(--text-primary);
    font-size: 12px;
    height: 16px;
    left: 50%;
    line-height: 1.5;
    min-width: 16px;
    padding: 0 4px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(50%);
    z-index: 10;
}

.orders-swiper-container .orders-nav .orders-nav__icon {
    height: 43px;
    margin: 0 auto;
    text-align: center;
    width: 43px;
}

.orders-swiper-container .orders-item__title {
    color: #191919;
    color: var(--text-base);
    font-size: 12px;
    margin-top: 4px;
    word-break: break-word;
}

.use-center-nav__entries {
    box-sizing: border-box;
    color: #191919;
    color: var(--text-base);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .use-center-nav__entries {
        grid-gap: 0;
        font-size: 16px;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .use-center-nav__entries {
        grid-gap: 0.87890625vw;
        font-size: 16px;
        margin-bottom: 3.125vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .use-center-nav__entries {
        grid-gap: 0.625vw;
        font-size: 18px;
        margin-bottom: 3.125vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .use-center-nav__entries {
        grid-gap: 0.625vw;
        font-size: 20px;
        margin-bottom: 3.125vw;
    }
}

@media screen and (min-width: 1921px) {
    .use-center-nav__entries {
        grid-gap: 16px;
        font-size: 20px;
        margin-bottom: 80px;
    }
}

.use-center-nav__entries .use-center-nav__item {
    align-items: center;
    background-color: #fff;
    background-color: var(--background-white);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    transition: box-shadow 0.25s ease;

    .icon-forward {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .use-center-nav__entries .use-center-nav__item {
        box-shadow: inset 0 -1px hsla(0, 0%, 93%, 0.5);
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        margin: 0 auto;
        min-height: 52px;
        padding: 16px 12px;
        width: 100%;

        .icon-forward {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .use-center-nav__entries .use-center-nav__item {
        min-height: 20.1171875vw;
        padding: 5.6640625vw 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .use-center-nav__entries .use-center-nav__item {
        min-height: 15.625vw;
        padding: 3.515625vw 0;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .use-center-nav__entries .use-center-nav__item {
        min-height: 15.625vw;
        padding: 3.515625vw 0;
    }
}

@media screen and (min-width: 1921px) {
    .use-center-nav__entries .use-center-nav__item {
        min-height: 400px;
        padding: 90px 0;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .use-center-nav__entries .use-center-nav__item:hover {
        box-shadow: 0 0.3125vw 0.7291666667vw 0 rgba(0, 0, 0, 0.08);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .use-center-nav__entries .use-center-nav__item:hover {
        box-shadow: 0 0.3125vw 0.7291666667vw 0 rgba(0, 0, 0, 0.08);
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .use-center-nav__entries .use-center-nav__item:hover {
        box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.08);
    }
}

@media screen and (min-width: 1921px) {
    .use-center-nav__entries .use-center-nav__item:hover {
        box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.08);
    }
}

@media screen and (max-width: 720px) {
    .use-center-nav__entries .use-center-nav__item .entries-icon {
        -webkit-margin-end: 12px;
        height: 18px;
        margin-inline-end: 12px;
        width: 18px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .use-center-nav__entries .use-center-nav__item .entries-icon {
        height: 3.125vw;
        width: 3.125vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .use-center-nav__entries .use-center-nav__item .entries-icon {
        height: 2.1484375vw;
        width: 2.1484375vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .use-center-nav__entries .use-center-nav__item .entries-icon {
        height: 2.1484375vw;
        width: 2.1484375vw;
    }
}

@media screen and (min-width: 1921px) {
    .use-center-nav__entries .use-center-nav__item .entries-icon {
        height: 55px;
        width: 55px;
    }
}

.use-center-nav__entries .use-center-nav__item .entries-item__title {
    box-sizing: border-box;
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__title {
        flex-grow: 1;
        text-align: start;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__title {
        margin: 0.78125vw 0;
        max-width: 23.4375vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__title {
        margin: 0.5859375vw 0 0.78125vw;
        max-width: 15.859375vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__title {
        margin: 0.5859375vw 0 0.78125vw;
        max-width: 15.859375vw;
    }
}

@media screen and (min-width: 1921px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__title {
        margin: 15px 0 20px;
        max-width: 406px;
    }
}

.use-center-nav__entries .use-center-nav__item .entries-item__desc {
    color: #333;
}

@media screen and (max-width: 720px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__desc {
        display: none;
        font-size: 16px;
        width: 56px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__desc {
        font-size: 16px;
        width: 23.4375vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__desc {
        font-size: 18px;
        width: 17.8125vw;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__desc {
        font-size: 20px;
        width: 17.8125vw;
    }
}

@media screen and (min-width: 1921px) {
    .use-center-nav__entries .use-center-nav__item .entries-item__desc {
        font-size: 20px;
        width: 456px;
    }
}

.user-center__container .use-center-nav__entries.user-center__section {
    overflow: unset;
}