body,
html,
li,
p,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

@font-face {
	font-family: "MiSans Latin";
	/*字体名称，自己命名*/
	src: url('../fonts/miSansLatin/MiSansLatinVF.ttf') format('truetype');
	/* 修改为字体文件实际路径 */
}

p,
span,
strong {
	white-space: pre-line
}


input,
select,
textarea {
	background-color: #fff;
	background-color: var(--background-white);
	border-color: #191919;
	border-color: var(--text-base);
	color: #191919;
	color: var(--text-base);
}

html {
	--line-height: 1.25;
	height: 100%;
	line-height: 1.25;
	line-height: var(--line-height, 1.25);
	margin: 0 auto;
}

html[lang='km-KH'],
html[lang='my-MM'],
html[lang='th-TH'] {
	--line-height: 1.5;
}

body {
	--cardinal-number: 1;
	--grid-margin-small-special: var(--grid-gutter-width) 0;
	--grid-margin-medium: var(--grid-gutter-width);
	--outline-color: rgba(255, 105, 0, 0.5);
	background-color: #f7f7f7;
	background-color: var(--background-base);
	color: #191919;
	color: var(--text-base);
	font-weight: 400;
	height: 100% !important;
	// width: 100% !important;
	min-width: 280px;
	scrollbar-color: #d0d0d0 #fff;
	scrollbar-width: thin;
	//font-family: 'MiSans Chinese', sans-serif;
	font-family: "MiSans Latin", sans-serif;
}

@media screen and (max-width: 720px) {
	body {
		width: 100% !important;
	}
}

#__nuxt {
	height: 100%;
}

.svg-icon {
	width: 1em;
	height: 1em;
	color: inherit;
	cursor: pointer;
}

.mi-checkbox {
	--mi-color-primary: var(--text-base) !important;
	--mi-checkbox-border-radius: 0 !important;
}

.mi-drawer.btt {
	max-height: 85vh !important;
}



.mi-drawer .mi-drawer__header {
	@media screen and (max-width: 720px) {
		margin-bottom: 12px !important;
	}
}

.mi-btn.mi-btn--icon {
	font-size: var(--icon-font-size);
}


.mi-pagination {
	margin: calc(var(--grid-gap) * 2) var(--grid-gap);
	justify-content: center !important;
	--mi-pagination-bg-color: transparent !important;
	--mi-pagination-button-disabled-bg-color: transparent !important;
}


.mi-message {
	position: fixed;
	top: 50% !important;
	transform: translate(-50%, -50%);
}

.mi-message.mi-message--info {
	align-items: center;
	background: rgba(25, 25, 25, .8);
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(25, 25, 25, .08);
	border: none;
	box-sizing: border-box;
	color: #fff;
	color: var(--text-reverse);
	display: flex;
	font-size: 16px;
	font-weight: 400;
	justify-content: space-between;
	left: 50%;
	max-width: 520px;
	min-width: 318px;
	padding: 24px 32px;
	text-align: center;

	.mi-icon {
		display: none;
	}

	.mi-message__content {
		word-wrap: break-word;
		width: 100%;
		color: #fff;
	}
}

@media screen and (max-width: 720px) {
	.mi-message.mi-message--info {
		border-radius: 8px;
		font-size: 14px;
		max-width: 80%;
		min-width: 60%;
		padding: 16px 20px
	}
}

.mi-message-box.mi-message-box--center {
	.mi-message-box__content {
		margin: 10px 0;
		color: #191919;
	}
	.mi-message-box__btns {
		align-items: center;
		box-sizing: border-box;
		flex-basis: auto;
		flex-flow: column nowrap;
		justify-content: center;
		margin: 0 auto;
		padding: 10px;
		width: 100%;
		display: grid;
		gap: calc(var(--modal-footer-padding-horizontal) / 2);
		grid-template-columns: repeat(2, 1fr);
		width: 100%;

		.mi-button {
			height: auto;

			&:first-child {
				--mi-button-border-color: #191919;
				--mi-button-hover-text-color: #666;
				--mi-button-hover-bg-color: #fff;
				--mi-button-hover-border-color: #666;
				--mi-button-active-text-color: #666;
				--mi-button-active-border-color: #666;
				--mi-button-active-bg-color: #fff;
				--mi-button-outline-color: #666;
			}
		}
	}
}