body {
	--cardinal-number: 1;
	--grid-margin-small-special: var(--grid-gutter-width) 0;
	--grid-margin-medium: var(--grid-gutter-width);
	--outline-color: rgba(255, 105, 0, 0.5);
	background-color: #f7f7f7;
	background-color: var(--background-base);
	color: #191919;
	color: var(--text-base);
	font-weight: 400;
	height: 100%;
	min-width: 280px;
	scrollbar-color: #d0d0d0 #fff;
	scrollbar-width: thin;
}

body {
	font-family: 'MiSans Chinese', sans-serif;
}

.svg-icon {
	width: max(var(--icon-width), 1em);
	height: max(var(--icon-height), 1em);
	color: inherit;
	cursor: pointer;
}

.app-grid--vertical-100 {
	margin: var(--margin-vertical, 0) auto;
	max-width: var(--app-body-width);
	width: 100%;
	padding: 0 var(--app-horizontal-padding);
}

.site-container {
	box-sizing: border-box;
	margin: var(--margin-vertical, 0) auto;
	max-width: var(--app-max-width);
	width: 100%;
	padding: 0 var(--app-horizontal-padding);
}

.app-button {
	--btn-padding: var(--btn-padding-vertical, 10px) var(--btn-padding-horizontal, 10px);
	--btn-text-base: var(--text-reverse);
	--btn-background-white: var(--background-white);
	--btn-background-black: var(--background-black);
	--btn-background-primary: var(--background-primary);
	--btn-ellipsis-lines: 1;
	--btn-ellipsis-direction: vertical;
	--btn-background-color: var(--btn-background-black);
	--link-text-decoration: underline;
	background-color: var(--btn-background-color);
	border: none;
	border-radius: var(--btn-border-radius, 12px);
	color: var(--btn-text-base);
	cursor: pointer;
	display: inline-block;
	font-size: var(--btn-font-size);
	padding: var(--btn-padding);
}