body,html,li,p,ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

p,span,strong {
    white-space: pre-line
}

input,select,textarea {
    background-color: #fff;
    background-color: var(--background-white);
    border-color: #191919;
    border-color: var(--text-base);
    color: #191919;
    color: var(--text-base)
}

html {
    --line-height: 1.25;
    height: 100%;
    line-height: 1.25;
    line-height: var(--line-height,1.25);
    margin: 0 auto
}

html[lang=km-KH],html[lang=my-MM],html[lang=th-TH] {
    --line-height: 1.5
}

body {
	--cardinal-number: 1;
	--grid-margin-small-special: var(--grid-gutter-width) 0;
	--grid-margin-medium: var(--grid-gutter-width);
	--outline-color: rgba(255, 105, 0, 0.5);
	background-color: #f7f7f7;
	background-color: var(--background-base);
	color: #191919;
	color: var(--text-base);
	font-weight: 400;
	height: 100%;
	min-width: 280px;
	scrollbar-color: #d0d0d0 #fff;
	scrollbar-width: thin;
	font-family: 'MiSans Chinese', sans-serif;
}

html,
#__nuxt {
	height: 100%;
}

.svg-icon {
	width: max(var(--icon-width), 1em);
	height: max(var(--icon-height), 1em);
	color: inherit;
	cursor: pointer;
}

.app-button {
	--btn-padding: var(--btn-padding-vertical, 10px) var(--btn-padding-horizontal, 10px);
	--btn-text-base: var(--text-reverse);
	--btn-background-white: var(--background-white);
	--btn-background-black: var(--background-black);
	--btn-background-primary: var(--background-primary);
	--btn-background-color: var(--btn-background-black);
	--link-text-decoration: underline;
	background-color: var(--btn-background-color);
	border: none;
	border-radius: var(--btn-border-radius, 12px);
	color: var(--btn-text-base);
	cursor: pointer;
	display: inline-block;
	padding: var(--btn-padding);
}