@media screen and (max-width: 720px) {
    body {
        --header-height:48px;
        --site-horizontal-padding: 16px;
        --store-max-width: 100%;
        --support-max-width: 100%;
        --max-width-1400: 720px;
        --grid-gutter-width: 2.2222222222vw;
        --grid-columns: 6
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    body {
        --header-height:48px;
        --site-horizontal-padding: 32px;
        --store-max-width: 945px;
        --support-max-width: 960px;
        --max-width-1400: 1000px;
        --grid-gutter-width: .78125vw;
        --grid-columns: 12
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    body {
        --header-height:48px;
        --site-horizontal-padding: 32px;
        --store-max-width: 945px;
        --support-max-width: 960px;
        --max-width-1400: 1180px;
        --grid-gutter-width: 16px;
        --grid-columns: 12
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    body {
        --header-height:56px;
        --site-horizontal-padding: 32px;
        --store-max-width: 1260px;
        --support-max-width: 1260px;
        --max-width-1400: 1400px;
        --grid-gutter-width: 16px;
        --grid-columns: 12
    }
}