@media screen and (max-width: 420px) {
	#__nuxt {
		.header-wrapper {
			max-width: 100%;
			padding: 0 4px;

			.navigation__shortcut {
				.icon-item.show-small {
					display: flex;
				}

				.icon-item.show-large {
					display: none;
				}
			}

			.classify-container {
				display: none;
			}

			.navigation__aside {
				display: none;
			}
		}

		.home-banner {
			--banner-height: 480px
		}
	}
}

@media screen and (min-width: 421px) and (max-width: 720px) {
	#__nuxt {
		.header-wrapper {
			max-width: 100%;
			padding: 0 4px;

			.navigation__shortcut {
				.icon-item.show-small {
					display: flex;
				}

				.icon-item.show-large {
					display: none;
				}
			}

			.classify-container {
				display: none;
			}

			.navigation__aside {
				display: none;
			}

			.icon-item {
				margin: 0 6px;
			}
		}

		.home-banner {
			--banner-height: 480px
		}
	}
}

@media screen and (min-width: 721px) and (max-width:1024px) {
	#__nuxt {
		.header-wrapper {
			max-width: 100%;
			padding: 0 6px;

			.navigation__shortcut {
				.icon-item.show-small {
					display: flex;
				}

				.icon-item.show-large {
					display: none;
				}
			}

			.classify-container {
				display: none;
			}

			.navigation__aside {
				display: none;
			}

			.icon-item {
				margin: 0 8px;
			}
		}

		.home-banner {
			--banner-height: 320px
		}
	}
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
	#__nuxt {
		.header-wrapper {
			max-width: 1200px;
			padding: 0 6px;

			.navigation__shortcut {
				.icon-item.icon-item.show-small {
					display: none;
				}

				.icon-item.show-large {
					display: flex;
				}
			}

			.classify-container {
				display: block;
			}

			.navigation__aside {
				display: flex;
			}

			.classify-item,
			.icon-item {
				margin: 0 12px;
			}
		}

		.home-banner {
			--banner-height: 450px
		}
	}
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
	#__nuxt {
		.header-wrapper {
			max-width: 1500px;
			padding: 0 8px;

			.navigation__shortcut {
				.icon-item.show-small {
					display: none;
				}

				.icon-item.show-large {
					display: flex;
				}
			}

			.classify-container {
				display: block;
			}

			.navigation__aside {
				display: flex;
			}

			.classify-item,
			.icon-item {
				margin: 0 16px;
			}
		}

		.home-banner {
			--banner-height: 600px
		}
	}
}

@media screen and (min-width: 1921px) {
	#__nuxt {
		.header-wrapper {
			max-width: 1500px;
			padding: 0 8px;

			.navigation__shortcut {
				.icon-item.show-small {
					display: none;
				}

				.icon-item.show-large {
					display: flex;
				}
			}

			.classify-container {
				display: block;
			}

			.navigation__aside {
				display: flex;
			}

			.classify-item,
			.icon-item {
				margin: 0 16px;
			}
		}

		.home-banner {
			--banner-height: 600px
		}
	}
}

@media screen and (max-width: 720px) {
    #__nuxt .site-container {
        max-width:720px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    #__nuxt .site-container {
        max-width:1024px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    #__nuxt .site-container {
        max-width:1440px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    #__nuxt .site-container {
        max-width:1500px
    }
}

@media screen and (min-width: 1921px) {
    #__nuxt .site-container {
        max-width:1500px
    }
}

#__nuxt .site-container-1400 {
    max-width: var(--max-width-1400)
}