:root {

    --app-width: min(100vw, 100dvw);
    --header-height: 56px;
}


:root {
    --skeleton-color: #eee;
    --brand-orange: #ff6900;
    --brand-orange-90: #ff7819;
    --brand-orange-80: #ff8733;
    --brand-orange-70: #ff964c;
    --brand-orange-60: #ffa566;
    --brand-orange-50: #ffb47f;
    --brand-orange-40: #ffc399;
    --brand-orange-30: #ffd2b2;
    --brand-orange-20: #ffe1cc;
    --brand-orange-10: #fff0e5;
    --brand-grey: #898989;
    --brand-grey-90: #949494;
    --brand-grey-80: #a1a1a1;
    --brand-grey-70: #acacac;
    --brand-grey-60: #b8b8b8;
    --brand-grey-50: #c4c4c4;
    --brand-grey-40: #d0d0d0;
    --brand-grey-30: #dbdbdb;
    --brand-grey-20: #e7e7e7;
    --brand-grey-10: #f3f3f3;
    --brand-black: #191919;
    --brand-black-90: #303030;
    --brand-black-80: #474747;
    --brand-black-70: #5e5e5e;
    --brand-black-60: #757575;
    --brand-black-50: #8c8c8c;
    --brand-black-40: #a3a3a3;
    --brand-black-30: #dbdbdb;
    --brand-black-20: #d1d1d1;
    --brand-black-10: #e8e8e8;
    --brand-reverse: #fff;
    --text-base: #191919;
    --text-reverse: #fff;
    --text-primary: #ff6900;
    --text-secondary: #898989;
    --text-black: #333;
    --text-error: #ff4e4e;
    --background-base: #f7f7f7;
    --background-white: #fff;
    --background-grey: #dbdbdb;
    --background-light-grey: #f5f5f5;
    --background-black: #191919;
    --background-primary: #ff6900;
    --background-primary-light: #fff0e6;
    --background-disable: #ddd;
    --background-loader: #ff6900;
    --border-base: #898989;
    --border-footer: #2e2e2e;
    --border-input: #b0b0b0;
    --border-primary: #ff6900;
    --border-secondary: #191919;
    --border-popover: #e0e0e0;
    --shadow-black-a2: rgba(0, 0, 0, .02);
    --shadow-black-a5: rgba(0, 0, 0, .05);
    --shadow-black-a7: rgba(0, 0, 0, .07);
    --shadow-black-a8: rgba(0, 0, 0, .08);
    --shadow-black-a10: rgba(0, 0, 0, .1);
    --shadow-black-a15: rgba(0, 0, 0, .15);
    --shadow-black-a20: rgba(0, 0, 0, .2);
    --shadow-black-a25: rgba(0, 0, 0, .25);
    --shadow-black-a30: rgba(0, 0, 0, .3);
    --shadow-black-a40: rgba(0, 0, 0, .4);
    --shadow-black-a50: rgba(0, 0, 0, .5);
    --shadow-black-a60: rgba(0, 0, 0, .6);
    --shadow-white-a10: rgba(255, 255, 225, .1);
    --shadow-white-a20: rgba(255, 255, 225, .2);
    --shadow-white-a30: rgba(255, 255, 225, .3);
    --shadow-white-a50: rgba(255, 255, 225, .5);
    --shadow-white-a80: rgba(255, 255, 225, .8);
    --shadow-white-a90: rgba(255, 255, 225, .9);
    --shadow-primary-a10: rgba(255, 105, 0, .1);
    --shadow-primary-a20: rgba(255, 105, 0, .2);
    --shadow-primary-a30: rgba(255, 105, 0, .3);
    --shadow-primary-a40: rgba(255, 105, 0, .4);
    --shadow-primary-a50: rgba(255, 105, 0, .5);
}

:root {
    --orange-orange100: #ff6900;
    --orange-orange90: #ff7819;
    --orange-orange80: #ff8733;
    --orange-orange70: #ff964c;
    --orange-orange60: #ffa566;
    --orange-orange50: #ffb47f;
    --orange-orange40: #ffc399;
    --orange-orange30: #ffd2b2;
    --orange-orange25: #ffd9bf;
    --orange-orange20: #ffe1cc;
    --orange-orange15: #ffe8d9;
    --orange-orange10: #fff0e5;
    --blue-blue100: #1a77ed;
    --blue-blue95: #267ff1;
    --blue-blue80: #4893f3;
    --blue-blue70: #5fa1f5;
    --blue-blue60: #76aef6;
    --blue-blue50: #8cbbf7;
    --blue-blue40: #a3c9f9;
    --blue-blue30: #bad7fb;
    --blue-blue25: #c6ddfb;
    --blue-blue20: #d1e4fc;
    --blue-blue15: #ddebfd;
    --blue-blue10: #e8f2fe;
    --blue-line: #b7c7df;
    --red-red100: #db2e2e;
    --red-red90: #df4343;
    --red-red80: #ec5656;
    --red-red70: #e66c6c;
    --red-red60: #e98181;
    --red-red50: #ed9696;
    --red-red40: #f1abab;
    --red-red30: #f4c0c0;
    --red-red25: #f6cbcb;
    --red-red20: #f8d5d5;
    --red-red10: #fbeaea;
    --red-mipoint: #feecd6;
    --red-coupon: #ffdfb6;
    --red-line: #f3c892;
    --gold-tab-bg100: #f6dfb4;
    --gold-coupon-left100: #f0d7a8;
    --gold-line: #e0cca5;
    --gold-on-nav100: #5f4108;
    --gold-gold100: linear-gradient(94.86deg, #f3e1bf -9.99%, #e6cb9a 97.13%);
    --gold-mipoint100: linear-gradient(102.32deg, #faebcf -7.32%, #f1d9ab 97.55%);
    --gold-btn-disabled100: linear-gradient(102.32deg, hsla(39, 81%, 90%, .5) -7.32%, hsla(39, 71%, 81%, .5) 97.55%);
    --gold-new100: linear-gradient(89.4deg, #e8cda1 0.52%, #f5e6c7 99.54%);
    --gold-head-cd100: linear-gradient(94.75deg, #e0bb78 -1.59%, #e0bb78 101.06%);
    --gold-cd-bg100: linear-gradient(94.75deg, #e0be7d -1.59%, #dcb269 101.06%);
    --gold-lightning100: linear-gradient(175deg, #f4c977 4.38%, #b37d18 94.34%);
    --blackgold-bg100: #f8e6c4;
    --blackgold-blackgold100: linear-gradient(94.86deg, #f3e1bf -9.99%, #e6cb9a 97.13%);
    --blackgold-head-cd100: linear-gradient(95.48deg, #454851 -5.61%, #44474f 100.81%);
    --blackgold-cd-bg100: linear-gradient(95.48deg, #484b54 -5.61%, #3a3d45 100.81%);
    --blackgold-lightning100: linear-gradient(187.24deg, #ffe86f 6.44%, #ffb800 104.24%);
    --rosegold-tab-bg100: #f2d5cb;
    --rosegold-coupon-left100: #e9c4b8;
    --rosegold-line: #d8ad9f;
    --rosegold-bg100: #46434f;
    --rosegold-cd-bg100: #594f5d;
    --rosegold-on-nav100: #4c3a34;
    --rosegold-rosegold100: linear-gradient(96.38deg, #fbd9ce -7.34%, #c88c78 114.51%);
    --rosegold-mipoint100: linear-gradient(103.83deg, #f3ded7 -1.18%, #e6c4b9 105.45%);
    --base-tag100: #fbeed5;
    --base-on-tag100: #785a25;
    --neutral-neutral100: #191919;
    --neutral-neutral90: #303030;
    --neutral-neutral80: #474747;
    --neutral-neutral70: #5e5e5e;
    --neutral-neutral60: #757575;
    --neutral-neutral50: #8c8c8c;
    --neutral-neutral40: #a3a3a3;
    --neutral-neutral30: #bababa;
    --neutral-neutral20: #d1d1d1;
    --neutral-neutral10: #e8e8e8;
    --neutral-neutral7: #f0f0f0;
    --neutral-neutral5: #f7f7f7;
    --light-alpha80: #191919cc;
    --light-alpha70: #191919b3;
    --light-alpha50: #19191980;
    --light-alpha40: #19191966;
    --light-alpha35: #19191959;
    --light-alpha25: #19191940;
    --light-alpha15: #19191926;
    --light-alpha10: #1919191a;
    --light-alpha6: #1919190f;
    --light-alpha4: #1919190a;
    --dark-alpha85: #ffffffd9;
    --dark-alpha70: #ffffffb3;
    --dark-alpha50: #ffffff80;
    --dark-alpha35: #ffffff59;
    --dark-alpha30: #ffffff4d;
    --dark-alpha20: #fff3;
    --dark-alpha15: #ffffff26;
    --dark-alpha10: #ffffff1a;
    --black-black100: #000;
    --black-black90: #000000e6;
    --white-white100: #fff;
}