:root {
	--app-width: min(100vw, 100dvw);
	--header-height: 56px;
}

:root {
	--skeleton-color: #eee;
	--brand-orange: #ff6900;
	--brand-orange-90: #ff7819;
	--brand-orange-80: #ff8733;
	--brand-orange-70: #ff964c;
	--brand-orange-60: #ffa566;
	--brand-orange-50: #ffb47f;
	--brand-orange-40: #ffc399;
	--brand-orange-30: #ffd2b2;
	--brand-orange-20: #ffe1cc;
	--brand-orange-10: #fff0e5;
	--brand-grey: #898989;
	--brand-grey-90: #949494;
	--brand-grey-80: #a1a1a1;
	--brand-grey-70: #acacac;
	--brand-grey-60: #b8b8b8;
	--brand-grey-50: #c4c4c4;
	--brand-grey-40: #d0d0d0;
	--brand-grey-30: #dbdbdb;
	--brand-grey-20: #e7e7e7;
	--brand-grey-10: #f3f3f3;
	--brand-black: #191919;
	--brand-black-90: #303030;
	--brand-black-80: #474747;
	--brand-black-70: #5e5e5e;
	--brand-black-60: #757575;
	--brand-black-50: #8c8c8c;
	--brand-black-40: #a3a3a3;
	--brand-black-30: #dbdbdb;
	--brand-black-20: #d1d1d1;
	--brand-black-10: #e8e8e8;
	--brand-reverse: #fff;
	--text-base: #191919;
	--text-reverse: #fff;
	--text-primary: #ff6900;
	--text-secondary: #898989;
	--text-black: #333;
	--text-error: #ff4e4e;
	--background-base: #f7f7f7;
	--background-white: #fff;
	--background-grey: #dbdbdb;
	--background-light-grey: #f5f5f5;
	--background-black: #191919;
	--background-primary: #ff6900;
	--background-primary-light: #fff0e6;
	--background-disable: #ddd;
	--background-loader: #ff6900;
	--background-deep-black: #24201c;
	--border-base: #898989;
	--border-footer: #2e2e2e;
	--border-input: #b0b0b0;
	--border-primary: #ff6900;
	--border-secondary: #191919;
	--border-popover: #e0e0e0;
	--shadow-black-a2: rgba(0, 0, 0, .02);
	--shadow-black-a5: rgba(0, 0, 0, .05);
	--shadow-black-a7: rgba(0, 0, 0, .07);
	--shadow-black-a8: rgba(0, 0, 0, .08);
	--shadow-black-a10: rgba(0, 0, 0, .1);
	--shadow-black-a15: rgba(0, 0, 0, .15);
	--shadow-black-a20: rgba(0, 0, 0, .2);
	--shadow-black-a25: rgba(0, 0, 0, .25);
	--shadow-black-a30: rgba(0, 0, 0, .3);
	--shadow-black-a40: rgba(0, 0, 0, .4);
	--shadow-black-a50: rgba(0, 0, 0, .5);
	--shadow-black-a60: rgba(0, 0, 0, .6);
	--shadow-white-a10: rgba(255, 255, 225, .1);
	--shadow-white-a20: rgba(255, 255, 225, .2);
	--shadow-white-a30: rgba(255, 255, 225, .3);
	--shadow-white-a50: rgba(255, 255, 225, .5);
	--shadow-white-a80: rgba(255, 255, 225, .8);
	--shadow-white-a90: rgba(255, 255, 225, .9);
	--shadow-primary-a10: rgba(255, 105, 0, .1);
	--shadow-primary-a20: rgba(255, 105, 0, .2);
	--shadow-primary-a30: rgba(255, 105, 0, .3);
	--shadow-primary-a40: rgba(255, 105, 0, .4);
	--shadow-primary-a50: rgba(255, 105, 0, .5) --brand-grey-30: #dbdbdb;
	--brand-grey-20: #e7e7e7;
	--brand-black-30: #dbdbdb;
    --skeleton-color: #eee;
    --primary-base: #ff6700;
    --primary-variant: #fff;
    --secondary-base: #212121;
    --secondary-variant: #b0b0b0;
    --background-base: #f5f5f5;
    --background-base-variant: #f9f9fa;
    --background-base-variant-2: #f9f9fa;
    --background-base-variant-3: #f9f9fa;
    --background-base-variant-4: #f5f5f5;
    --background-base-variant-5: #f9f9fa;
    --background-base-variant-6: #f7f7f7;
    --background-light: #fff;
    --background-light-a0: hsla(0,0%,100%,0);
    --background-light-variant: #fff;
    --background-light-variant-2: #f6f6f7;
    --background-dark: #ddd;
    --background-black: #191919;
    --background-card-bg: #fff;
    --background-card-surface: #fafafa;
    --background-light-sku: #fff;
    --background-light-sku-dark: #fff;
    --background-light-sku-gray: #f2f2f2;
    --background-sku-img-normal: transparent;
    --background-sku-img-highlight: transparent;
    --background-quantity-active: #e0e0e0;
    --background-tag-badge: #fe471c;
    --background-contrast: #f5f5f5;
    --background-contrast-light: #fff;
    --background-contrast-variant: #424242;
    --background-loading-button: #ccc;
    --background-dialog-content: #fff;
    --background-dialog-content-2: #fafafa;
    --background-dialog-button: #ccc;
    --background-dialog-button-disabled: #ddd;
    --background-dialog-button-hover: #757575;
    --background-primary: #ff6700;
    --background-primary-a10: rgba(255,103,0,0.1);
    --background-primary-a10-variant: #ff6700;
    --background-primary-a20: rgba(255,103,0,0.2);
    --background-primary-a20-variant: #ff6700;
    --background-primary-variant: #ff6700;
    --background-primary-variant-2: #ff6700;
    --background-primary-variant-3: #ff6700;
    --background-primary-variant-4: #ff6700;
    --background-primary-hover: #f95b06;
    --background-secondary: #212121;
    --background-secondary-a80: rgba(33,33,33,0.8);
    --background-secondary-variant: #424242;
    --background-secondary-variant-2: #212121;
    --background-secondary-variant-3: #b0b0b0;
    --background-secondary-variant-4: #424242;
    --background-disable: #ddd;
    --background-loader: #ff6700;
    --background-toast: rgba(34,34,34,0.8);
    --background-toast-1: rgba(34,34,34,0.8);
    --background-mask: #f8f8f8;
    --background-mask-1: #f8f8f8;
    --background-mask-2: #f8f8f8;
    --background-mask-a65: hsla(0,0%,97%,0.65);
    --background-step: #b0b0b0;
    --background-step-done: #6eb655;
    --background-spot: #ff6700;
    --background-spot-variant: #fff;
    --background-float: linear-gradient(135deg,#ffa86d,#ff6700);
    --background-float-variant: linear-gradient(135deg,rgba(255,168,109,0.1),rgba(255,103,0,0.1));
    --background-badge: linear-gradient(140deg,#ff9b7e,#ff5169);
    --background-badge-variant: #ffc94d;
    --background-quiz-success: linear-gradient(141deg,rgba(255,155,126,0.05),rgba(255,81,105,0.05));
    --background-quiz-failure: linear-gradient(141deg,rgba(68,160,36,0.05),rgba(110,182,85,0.05));
    --background-scrollbar-track: #eee;
    --background-scrollbar-thumb: rgba(255,103,0,0.5);
    --background-product: #f8f8f8;
    --brand-grey-40: #d0d0d0;
    --brand-grey-20: #e7e7e7;
    --brand-grey-10: #f3f3f3;
    --shadow-black-a2: rgba(0,0,0,0.02);
    --shadow-black-a5: rgba(0,0,0,0.05);
    --shadow-black-a7: rgba(0,0,0,0.07);
    --shadow-black-a8: rgba(0,0,0,0.08);
    --shadow-black-a10: rgba(0,0,0,0.1);
    --shadow-black-a15: rgba(0,0,0,0.15);
    --shadow-black-a20: rgba(0,0,0,0.2);
    --shadow-black-a30: rgba(0,0,0,0.3);
    --shadow-black-a40: rgba(0,0,0,0.4);
    --shadow-black-a50: rgba(0,0,0,0.5);
    --shadow-black-a60: rgba(0,0,0,0.6);
    --shadow-gray-a20: hsla(0,0%,47%,0.2);
    --shadow-gray-dark-a20: rgba(22,23,24,0.2);
    --shadow-white-a10: rgba(255,255,225,0.1);
    --shadow-white-a20: rgba(255,255,225,0.2);
    --shadow-white-a30: rgba(255,255,225,0.3);
    --shadow-white-a50: rgba(255,255,225,0.5);
    --shadow-white-a80: rgba(255,255,225,0.8);
    --shadow-white-a90: rgba(255,255,225,0.9);
    --shadow-contrast-a20: rgba(255,255,225,0.2);
    --shadow-contrast-a30: rgba(255,255,225,0.3);
    --shadow-contrast-a50: rgba(255,255,225,0.5);
    --shadow-contrast-a90: rgba(255,255,225,0.9);
    --shadow-primary-a10: rgba(255,103,0,0.1);
    --shadow-primary-a20: rgba(255,103,0,0.2);
    --shadow-primary-a30: rgba(255,103,0,0.3);
    --shadow-primary-a40: rgba(255,103,0,0.4);
    --shadow-primary-a50: rgba(255,103,0,0.5);
    --border-base: #ddd;
    --border-base-variant: #b0b0b0;
    --border-base-variant-2: #ddd;
    --border-base-variant-3: #ddd;
    --border-base-variant-4: #898989;
    --border-light: #eee;
    --border-light-variant: #eee;
    --border-light-variant-2: #eee;
    --border-light-variant-3: #e0e0e0;
    --border-light-variant-4: #e0e0e0;
    --border-light-variant-5: #e0e0e0;
    --border-light-variant-6: #f8f8f8;
    --border-dark: #424242;
    --border-dark-variant: #191919;
    --border-input: #b0b0b0;
    --border-gray: #dbdbdb;
    --border-loading-button: #ccc;
    --border-disabled-button: #ddd;
    --border-primary: #ff6700;
    --border-primary-variant: #ff6700;
    --border-primary-variant-2: #ff6700;
    --border-primary-a20: rgba(255,103,0,0.2);
    --border-secondary: #212121;
    --border-record: #83c44e;
    --text-base: #191919;
    --text-reverse: #fff;
    --text-primary: #ff6900;
    --text-secondary: #898989;
    --title-base: #424242;
    --title-base-variant: #424242;
    --title-base-variant-2: #424242;
    --title-base-variant-3: #424242;
    --title-base-variant-4: #424242;
    --title-base-variant-5: #424242;
    --title-light: #b0b0b0;
    --title-light-variant: #c9c9c9;
    --title-light-variant-2: #999;
    --title-light-variant-3: #c6c6c6;
    --title-light-variant-4: #b4b4b4;
    --title-light-variant-5: #ddd;
    --title-light-variant-6: #b0b0b0;
    --title-light-variant-7: #c9c9c9;
    --title-light-variant-8: #c9c9c9;
    --title-light-variant-9: #ddd;
    --title-dark: #000;
    --title-dark-variant: #222;
    --title-dark-variant-2: #b4b4b4;
    --title-dark-variant-3: #2e2323;
    --title-dark-variant-4: #2e2323;
    --title-dark-variant-5: #2e2323;
    --title-dark-variant-6: #000;
    --title-primary: #ff6700;
    --title-primary-variant: #fff;
    --title-primary-variant-2: #fff;
    --title-primary-variant-3: #ff6700;
    --title-primary-variant-4: #fff;
    --title-primary-variant-5: #fff;
    --title-primary-variant-6: #fff;
    --title-secondary: #212121;
    --title-modal: #191919;
    --content-base: #666;
    --content-base-variant: #666;
    --content-light: #757575;
    --content-light-variant: #757575;
    --content-light-variant-2: #757575;
    --content-light-variant-3: #999;
    --content-light-variant-4: #999;
    --content-light-variant-5: #ccc;
    --content-dark: #424242;
    --content-dark-variant: #333;
    --content-dark-variant-2: #424242;
    --content-dark-variant-3: #424242;
    --content-dark-variant-4: #333;
    --content-dark-variant-5: #333;
    --content-contrast: #999;
    --content-contrast-variant: #616161;
    --content-active: #ff6900;
    --content-primary: #ff6700;
    --content-primary-variant: #ff6700;
    --content-primary-variant-2: #ff6700;
    --content-primary-variant-3: #ff6700;
    --content-delivery: #298cda;
    --content-delivery-info: #888;
    --content-delivery-info-2: #b0b0b0;
    --content-notice: #ff9e0d;
    --content-complete: #6eb655;
    --content-search-box: #888;
    --button-base: #757575;
    --button-base-variant-1: #757575;
    --button-base-variant-2: #fff;
    --button-base-variant-3: #fff;
    --button-base-variant-4: #ffad76;
    --button-dialog-close: #c9c9c9;
    --button-dialog-close-on: #666;
    --button-delete: #ccc;
    --button-delete-1: #ccc;
    --button-delete-variant: #4a90e2;
    --button-active: #424242;
    --select-option-active: #ff6700;
    --button-dark: #5c3b3b;
    --button-select: #eee;
    --link-base: #b0b0b0;
    --link-base-variant: #b0b0b0;
    --link-light: #fff;
    --link-light-variant: #fff;
    --link-light-variant-2: #fff;
    --link-dark: #b0b0b0;
    --link-dark-variant: #b0b0b0;
    --link-dark-variant-2: #424242;
    --link-dark-variant-3: #212121;
    --link-primary: #666;
    --link-blue: #298cda;
    --link-active: #ff6700;
    --link-disabled: #fff;
    --disabled-base: #c9c9c9;
    --disabled-light: #b0b0b0;
    --disabled-light-2: #ccc;
    --disabled-light-3: transparent;
    --disabled-light-4: #eee;
    --disabled-dark: #757575;
    --divider-base: #eee;
    --divider-primary: #ff6700;
    --divider-secondary: #212121;
    --notice-info: #2db7f5;
    --notice-success: #83c44e;
    --notice-warning: #f90;
    --notice-error: #f14d4d;
    --notice-error-1: #f14d4d;
    --scroll-base: #ddd
}


@media screen and (max-width: 720px) {
	body {
		--large-gap: 16px;
		--mid-gap: 12px;
		--small-gap: 8px;
		--mini-gap: 4px;

		--icon-width: 20px;
		--icon-height: 20px;

		--logo-width: 28px;
		--logo-height: 28px;

		--large-font-size: 18px;
		--mid-font-size: 16px;
		--default-font-size: 14px;
		--small-font-size: 12px;
		--mini-font-size: 10px;

		--app-horizontal-padding: 16px;
		--margin-vertical: 16px;
		--title-content-gap: 32px;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	body {
		--large-gap: 24px;
		--mid-gap: 18px;
		--small-gap: 12px;
		--mini-gap: 6px;

		--icon-width: 24px;
		--icon-height: 24px;

		--logo-width: 30px;
		--logo-height: 30px;

		--large-font-size: 20px;
		--mid-font-size: 18px;
		--default-font-size: 16px;
		--small-font-size: 14px;
		--mini-font-size: 12px;

		--app-horizontal-padding: 32px;
		--margin-vertical: 80px;
		--title-content-gap: 48px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	body {
		--large-gap: 24px;
		--mid-gap: 18px;
		--small-gap: 12px;
		--mini-gap: 6px;

		--icon-width: 24px;
		--icon-height: 24px;

		--logo-width: 30px;
		--logo-height: 30px;

		--large-font-size: 20px;
		--mid-font-size: 18px;
		--default-font-size: 16px;
		--small-font-size: 14px;
		--mini-font-size: 12px;

		--app-horizontal-padding: 32px;
		--margin-vertical: 80px;
		--title-content-gap: 48px;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	body {
		--large-gap: 32px;
		--mid-gap: 24px;
		--small-gap: 16px;
		--mini-gap: 8px;

		--icon-width: 26px;
		--icon-height: 26px;

		--logo-width: 32px;
		--logo-height: 32px;

		--large-font-size: 22px;
		--mid-font-size: 20px;
		--default-font-size: 18px;
		--small-font-size: 16px;
		--mini-font-size: 14px;

		--app-horizontal-padding: 32px;
		--margin-vertical: 120px;
		--title-content-gap: 48px;
	}
}

@media screen and (min-width: 1921px) {
	body {
		--large-gap: 32px;
		--mid-gap: 24px;
		--small-gap: 16px;
		--mini-gap: 8px;

		--icon-width: 26px;
		--icon-height: 26px;

		--logo-width: 32px;
		--logo-height: 32px;

		--large-font-size: 22px;
		--mid-font-size: 20px;
		--default-font-size: 18px;
		--small-font-size: 16px;
		--mini-font-size: 14px;

		--app-horizontal-padding: 32px;
		--margin-vertical: 120px;
		--title-content-gap: 48px;
	}
}


@media screen and (max-width: 720px) {
    body {
        --header-height:48px;
        --site-horizontal-padding: 16px;
        --store-max-width: 100%;
        --support-max-width: 100%;
        --max-width-1400: 720px;
        --grid-gutter-width: 2.2222222222vw;
        --grid-columns: 6
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    body {
        --header-height:48px;
        --site-horizontal-padding: 32px;
        --store-max-width: 945px;
        --support-max-width: 960px;
        --max-width-1400: 1000px;
        --grid-gutter-width: .78125vw;
        --grid-columns: 12
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    body {
        --header-height:48px;
        --site-horizontal-padding: 32px;
        // --store-max-width: 945px;
        --store-max-width: 1180px;
        --support-max-width: 960px;
        --max-width-1400: 1180px;
        --grid-gutter-width: 16px;
        --grid-columns: 12
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    body {
        --header-height:56px;
        --site-horizontal-padding: 32px;
        // --store-max-width: 1260px;
        --store-max-width: 1400px;
        --support-max-width: 1260px;
        --max-width-1400: 1400px;
        --grid-gutter-width: 16px;
        --grid-columns: 12
    }
}

@media screen and (min-width: 1921px) {
    body {
        --header-height:56px;
        --site-horizontal-padding: 32px;
        --store-max-width: 1680px;
        --support-max-width: 1260px;
        --max-width-1400: 1680px;
        --grid-gutter-width: 16px;
        --grid-columns: 12
    }
}
