

.store-title-box {
    box-sizing: border-box
}

.store-title-box .store-title-flex {
    display: flex;
    margin: 0 auto
}

@media screen and (max-width: 720px) {
    .store-title-box .store-title-flex {
        max-width:none
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-title-box .store-title-flex {
        max-width:1000px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-title-box .store-title-flex {
        max-width:1180px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-title-box .store-title-flex {
        max-width:1400px
    }
}

@media screen and (min-width: 1921px) {
    .store-title-box .store-title-flex {
        max-width:1400px
    }
}

.store-title-box .store-title-flex--start {
    justify-content: flex-start
}

.store-title-box .store-title-flex--center {
    justify-content: center
}

.store-title-box .store-title-flex--end {
    justify-content: flex-end
}

@media screen and (max-width: 720px) {
    .store-title-box {
        padding:28px 20px 16px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-title-box {
        padding:36px 20px 20px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-title-box {
        padding:44px 0 20px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-title-box {
        padding:48px 0 24px
    }
}

@media screen and (min-width: 1921px) {
    .store-title-box {
        padding:48px 0 24px
    }
}

.store-title-box .store-title__content {
    display: flex;
    flex-direction: column
}

@media screen and (max-width: 720px) {
    .store-title-box .store-title__content {
        max-width:none
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-title-box .store-title__content {
        max-width:none
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-title-box .store-title__content {
        max-width:920px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-title-box .store-title__content {
        max-width:920px
    }
}

@media screen and (min-width: 1921px) {
    .store-title-box .store-title__content {
        max-width:920px
    }
}

.store-title-box .store-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word
}

@media screen and (max-width: 720px) {
    .store-title-box .store-title {
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 2;
        display: box;
        display: -webkit-box;
        font-size: 18px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-title-box .store-title {
        font-size:28px;
        font-weight: 700
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-title-box .store-title {
        font-size:32px;
        font-weight: 700
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-title-box .store-title {
        font-size:32px;
        font-weight: 700
    }
}

@media screen and (min-width: 1921px) {
    .store-title-box .store-title {
        font-size:32px;
        font-weight: 700
    }
}

.store-title-box .store-title--start {
    text-align: start
}

.store-title-box .store-title--center {
    text-align: center
}

.store-title-box .store-title--end {
    text-align: end
}

.store-title-box .store-title--default {
    font-weight: 700
}

@media screen and (max-width: 720px) {
    .store-title-box .store-title--default {
        font-size:18px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-title-box .store-title--default {
        font-size:28px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-title-box .store-title--default {
        font-size:32px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-title-box .store-title--default {
        font-size:32px
    }
}

@media screen and (min-width: 1921px) {
    .store-title-box .store-title--default {
        font-size:32px
    }
}

.store-title-box .store-title--medium {
    font-weight: 900
}

@media screen and (max-width: 720px) {
    .store-title-box .store-title--medium {
        font-size:18px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-title-box .store-title--medium {
        font-size:30px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-title-box .store-title--medium {
        font-size:34px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-title-box .store-title--medium {
        font-size:34px
    }
}

@media screen and (min-width: 1921px) {
    .store-title-box .store-title--medium {
        font-size:34px
    }
}

.store-title-box .store-title--subtitle {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    word-break: break-word
}

@media screen and (max-width: 720px) {
    .store-title-box .store-title--subtitle {
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 5;
        display: box;
        display: -webkit-box;
        font-size: 12px;
        font-weight: 400;
        margin-top: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-title-box .store-title--subtitle {
        font-size:16px;
        font-weight: 400;
        margin-top: 4px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-title-box .store-title--subtitle {
        font-size:16px;
        font-weight: 400;
        margin-top: 6px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-title-box .store-title--subtitle {
        font-size:16px;
        font-weight: 400;
        margin-top: 8px
    }
}

@media screen and (min-width: 1921px) {
    .store-title-box .store-title--subtitle {
        font-size:16px;
        font-weight: 400;
        margin-top: 8px
    }
}

.store-title-box .store-title--subtitle--start {
    text-align: start
}

.store-title-box .store-title--subtitle--center {
    text-align: center
}

.store-title-box .store-title--subtitle--end {
    text-align: end
}

.store-title-box.store-title--light {
    color: #fff;
    color: var(--event-light-dark-text-on-primary,#fff)
}

.store-title-box.store-title--dark {
    color: #191919;
    color: var(--event-light-dark-text-on-primary,#191919)
}

.store-goods {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: relative;
    transition: box-shadow .25s ease
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods:hover {
        box-shadow:0 .3125vw .7291666667vw 0 rgba(0,0,0,.08)
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods:hover {
        box-shadow:0 .3125vw .7291666667vw 0 rgba(0,0,0,.08)
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods:hover {
        box-shadow:0 6px 14px 0 rgba(0,0,0,.08)
    }
}

@media screen and (min-width: 1921px) {
    .store-goods:hover {
        box-shadow:0 6px 14px 0 rgba(0,0,0,.08)
    }
}

@media screen and (max-width: 720px) {
    .store-goods {
        --label-margin-bottom:1.6666666667vw;
        border-radius: 2.2222222222vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods {
        --label-margin-bottom:.78125vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods {
        --label-margin-bottom:8px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods {
        --label-margin-bottom:16px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods {
        --label-margin-bottom:24px
    }
}

.store-goods:focus-visible {
    outline: 4px solid var(--outline-color)
}

.store-goods.store-goods--light {
    background-color: #fff;
    background-color: var(--background-white);
    color: #191919
}

.store-goods.store-goods--dark {
    background-color: #dbdbdb;
    background-color: var(--background-grey);
    color: #fff
}

.store-goods .store-goods__full-image {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1
}

.store-goods .store-goods__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 2
}

.store-goods .store-goods__info .store-goods__title {
    font-weight: 700
}

.store-goods .store-goods__info .store-goods__subtitle,.store-goods .store-goods__info .store-goods__title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    word-break: break-word
}

.store-goods .store-goods__energy {
    --group-margin-bottom: var(--label-margin-bottom)
}

@media screen and (max-width: 720px) {
    .store-goods .store-goods__energy {
        --image-width:44px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods .store-goods__energy {
        --image-width:48px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods .store-goods__energy {
        --image-width:42px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods .store-goods__energy {
        --image-width:74px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods .store-goods__energy {
        --image-width:98px
    }
}

.store-goods .store-goods__energy:last-child {
    --group-margin-bottom: 0
}

@media screen and (max-width: 720px) {
    .store-goods .store-goods__energy .mi-energy-label__link {
        font-size:2.7777777778vw;
        font-size: max(2.7777777778vw,12px)
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods .store-goods__energy .mi-energy-label__link {
        font-size:max(1.3671875vw,12px)
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods .store-goods__energy .mi-energy-label__link {
        font-size:12px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods .store-goods__energy .mi-energy-label__link {
        font-size:14px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods .store-goods__energy .mi-energy-label__link {
        font-size:16px
    }
}

.store-goods .store-goods__tag-list {
    --group-margin-bottom: var(--label-margin-bottom);
    margin-top: 10px
}

.store-goods .store-goods__tag-list:last-child {
    --group-margin-bottom: 0
}

@media screen and (max-width: 720px) {
    .store-goods .store-goods__tag-list {
        font-size:2.7777777778vw
    }
}

.store-goods .store-goods__price span,.store-goods .store-goods__price strong {
    font-weight: 700
}

@media screen and (max-width: 720px) {
    .store-goods .store-goods__price span,.store-goods .store-goods__price strong {
        font-weight:500
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods .store-goods__price span,.store-goods .store-goods__price strong {
        font-weight:700
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods .store-goods__price span,.store-goods .store-goods__price strong {
        font-weight:700
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods .store-goods__price span,.store-goods .store-goods__price strong {
        font-weight:700
    }
}

@media screen and (min-width: 1921px) {
    .store-goods .store-goods__price span,.store-goods .store-goods__price strong {
        font-weight:700
    }
}

.store-goods .store-goods__price del {
    color: #d0d0d0
}

.store-goods .store-goods__installment {
    -webkit-margin-start: 1px;
    margin-inline-start:1px}

@media screen and (max-width: 720px) {
    .store-goods .store-goods__installment {
        --installment-margin-top:3px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods .store-goods__installment {
        --installment-margin-top:4px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods .store-goods__installment {
        --installment-margin-top:5px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods .store-goods__installment {
        --installment-margin-top:6px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods .store-goods__installment {
        --installment-margin-top:8px
    }
}

@media screen and (max-width: 720px) {
    .store-goods .store-goods__installment {
        font-size:2.7777777778vw
    }
}

.store-goods .store-goods__product {
    position: relative
}

.store-goods .store-goods__picture {
    height: 100%;
    width: 100%
}

.store-goods .store-goods__gift {
    bottom: 0;
    left: auto;
    position: absolute;
    right: 0
}

[dir=rtl] .store-goods .store-goods__gift {
    left: 0;
    right: auto
}

.store-goods.store-goods--half {
    display: flex
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half {
        min-height:46.6666666667vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half {
        min-height:21.484375vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half {
        min-height:220px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half {
        min-height:294px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half {
        min-height:392px
    }
}

.store-goods.store-goods--half .store-goods__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__wrapper {
        -webkit-margin-start:6.1111111111vw;
        -webkit-margin-end: 4.4444444444vw;
        margin: 6.6666666667vw 0;
        margin-inline-end:4.4444444444vw;margin-inline-start:6.1111111111vw}
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__wrapper {
        -webkit-margin-start:4.8828125vw;
        -webkit-margin-end: 2.1484375vw;
        margin: 3.125vw 0;
        margin-inline-end:2.1484375vw;margin-inline-start:4.8828125vw}
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__wrapper {
        -webkit-margin-start:50px;
        -webkit-margin-end: 22px;
        margin: 32px 0;
        margin-inline-end:22px;margin-inline-start:50px}
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__wrapper {
        -webkit-margin-start:68px;
        -webkit-margin-end: 30px;
        margin: 42px 0;
        margin-inline-end:30px;margin-inline-start:68px}
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__wrapper {
        -webkit-margin-start:92px;
        -webkit-margin-end: 40px;
        margin: 56px 0;
        margin-inline-end:40px;margin-inline-start:92px}
}

.store-goods.store-goods--half .store-goods__info {
    flex-grow: 1;
    flex-shrink: 1
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__info {
        flex-basis:48.3333333333vw
    }

    [dir=ltr] .store-goods.store-goods--half .store-goods__info {
        margin-right: 3.3333333333vw
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__info {
        margin-left: 3.3333333333vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__info {
        flex-basis:20.8984375vw;
        margin-top: .390625vw
    }

    [dir=ltr] .store-goods.store-goods--half .store-goods__info {
        margin-right: 1.953125vw
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__info {
        margin-left: 1.953125vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__info {
        flex-basis:214px;
        margin-top: 4px
    }

    [dir=ltr] .store-goods.store-goods--half .store-goods__info {
        margin-right: 20px
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__info {
        margin-left: 20px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__info {
        flex-basis:285px;
        margin-top: 6px
    }

    [dir=ltr] .store-goods.store-goods--half .store-goods__info {
        margin-right: 15px
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__info {
        margin-left: 15px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__info {
        flex-basis:400px;
        margin-top: 8px
    }

    [dir=ltr] .store-goods.store-goods--half .store-goods__info {
        margin-right: 20px
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__info {
        margin-left: 20px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__title {
        font-size:4.4444444444vw;
        font-size: max(4.4444444444vw,12px)
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__title {
        font-size:max(1.953125vw,12px)
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__title {
        font-size:20px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__title {
        font-size:27px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__title {
        font-size:36px
    }
}

.store-goods.store-goods--half .store-goods__subtitle {
    line-height: 1.25
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__subtitle {
        font-size:3.3333333333vw;
        font-size: max(3.3333333333vw,12px);
        margin: 1.6666666667vw 0
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__subtitle {
        font-size:max(1.3671875vw,12px);
        margin: .390625vw 0
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__subtitle {
        font-size:14px;
        margin: 4px 0 6px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__subtitle {
        font-size:18px;
        margin: 6px 0 10px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__subtitle {
        font-size:24px;
        margin: 8px 0 18px
    }
}

.store-goods.store-goods--half .store-goods__price {
    align-items: baseline
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__price {
        margin-top:1.6666666667vw;
        min-height: 5vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__price {
        margin-top:.390625vw;
        min-height: 2.34375vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__price {
        margin-top:8px;
        min-height: 24px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__price {
        margin-top:16px;
        min-height: 32px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__price {
        margin-top:24px;
        min-height: 42px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__price del,.store-goods.store-goods--half .store-goods__price span {
        font-size:3.3333333333vw;
        font-size: max(3.3333333333vw,12px)
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__price del,.store-goods.store-goods--half .store-goods__price span {
        font-size:max(1.3671875vw,12px)
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__price del,.store-goods.store-goods--half .store-goods__price span {
        font-size:14px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__price del,.store-goods.store-goods--half .store-goods__price span {
        font-size:18px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__price del,.store-goods.store-goods--half .store-goods__price span {
        font-size:24px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__price strong {
        font-size:4.4444444444vw;
        font-size: max(4.4444444444vw,12px)
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__price strong {
        font-size:max(1.953125vw,12px)
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__price strong {
        font-size:20px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__price strong {
        font-size:27px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__price strong {
        font-size:36px
    }
}

@media screen and (max-width: 720px) {
    [dir=ltr] .store-goods.store-goods--half .store-goods__price del {
        margin-left:2.2222222222vw
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__price del {
        margin-right: 2.2222222222vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    [dir=ltr] .store-goods.store-goods--half .store-goods__price del {
        margin-left:.29296875vw
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__price del {
        margin-right: .29296875vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    [dir=ltr] .store-goods.store-goods--half .store-goods__price del {
        margin-left:3px
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__price del {
        margin-right: 3px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    [dir=ltr] .store-goods.store-goods--half .store-goods__price del {
        margin-left:12px
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__price del {
        margin-right: 12px
    }
}

@media screen and (min-width: 1921px) {
    [dir=ltr] .store-goods.store-goods--half .store-goods__price del {
        margin-left:16px
    }

    [dir=rtl] .store-goods.store-goods--half .store-goods__price del {
        margin-right: 16px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__product {
        height:33.3333333333vw;
        width: 33.3333333333vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__product {
        height:15.4296875vw;
        width: 15.4296875vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__product {
        height:158px;
        width: 158px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__product {
        height:210px;
        width: 210px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__product {
        height:280px;
        width: 280px
    }
}

.store-goods.store-goods--half .store-goods__product .store-goods__icon {
    bottom: 0;
    position: absolute;
    right: 0
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__product .store-goods__icon {
        height:11.1111111111vw;
        width: 11.1111111111vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__product .store-goods__icon {
        height:4.58984375vw;
        width: 4.58984375vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__product .store-goods__icon {
        height:47px;
        width: 47px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__product .store-goods__icon {
        height:63px;
        width: 63px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__product .store-goods__icon {
        height:100px;
        width: 100px
    }
}

.store-goods.store-goods--half .store-goods__product .store-goods__icon>img {
    background: #f7f7f7;
    height: 100%;
    width: 100%
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__energy {
        --group-margin-top:8px;
        --image-width: 46px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__energy {
        --group-margin-top:8px;
        --image-width: 39px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__energy {
        --group-margin-top:10px;
        --image-width: 55px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__energy {
        --group-margin-top:12px;
        --image-width: 73px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__energy {
        --group-margin-top:24px;
        --image-width: 97px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--half .store-goods__gift {
        --gift-size:11.1111111111vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--half .store-goods__gift {
        --gift-size:5.46875vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--half .store-goods__gift {
        --gift-size:56px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--half .store-goods__gift {
        --gift-size:75px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--half .store-goods__gift {
        --gift-size:100px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter {
        --lower-min-height:19.4444444444vw;
        min-height: 45vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter {
        --lower-min-height:9.27734375vw;
        min-height: 21.484375vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter {
        --lower-min-height:100px;
        min-height: 220px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter {
        --lower-min-height:132px;
        min-height: 294px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter {
        --lower-min-height:150px;
        min-height: 392px
    }
}

.store-goods.store-goods--quarter .store-goods__wrapper {
    width: 100%
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__wrapper {
        -webkit-margin-end:3.8888888889vw;
        -webkit-margin-start: 5.5555555556vw;
        margin-bottom: 5.5555555556vw;
        margin-inline-end:3.8888888889vw;margin-inline-start:5.5555555556vw;margin-top: 6.1111111111vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__wrapper {
        -webkit-margin-end:2.734375vw;
        -webkit-margin-start: 2.34375vw;
        margin-bottom: 3.125vw;
        margin-inline-end:2.734375vw;margin-inline-start:2.34375vw;margin-top: 3.125vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__wrapper {
        -webkit-margin-end:28px;
        -webkit-margin-start: 24px;
        margin-bottom: 32px;
        margin-inline-end:28px;margin-inline-start:24px;margin-top: 32px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__wrapper {
        -webkit-margin-end:40px;
        -webkit-margin-start: 30px;
        margin-bottom: 42px;
        margin-inline-end:40px;margin-inline-start:30px;margin-top: 42px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__wrapper {
        -webkit-margin-end:50px;
        -webkit-margin-start: 40px;
        margin-bottom: 56px;
        margin-inline-end:50px;margin-inline-start:40px;margin-top: 56px
    }
}

.store-goods.store-goods--quarter .store-goods__info {
    height: 100%;
    width: 100%
}

.store-goods.store-goods--quarter .store-goods__info--lower {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: var(--lower-min-height)
}

.store-goods.store-goods--quarter .store-goods__installment {
    display: none
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__title {
        font-size:3.3333333333vw;
        font-size: max(3.3333333333vw,12px);
        margin-bottom: 2.2222222222vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__title {
        font-size:max(.9765625vw,12px);
        margin-bottom: .5859375vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__title {
        font-size:14px;
        margin-bottom: 9px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__title {
        font-size:18px;
        margin-bottom: 12px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__title {
        font-size:24px;
        margin-bottom: 16px
    }
}

.store-goods.store-goods--quarter .store-goods__price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.25
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__price del,.store-goods.store-goods--quarter .store-goods__price span {
        font-size:2.7777777778vw;
        font-size: max(2.7777777778vw,12px)
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__price del,.store-goods.store-goods--quarter .store-goods__price span {
        font-size:max(1.171875vw,12px)
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__price del,.store-goods.store-goods--quarter .store-goods__price span {
        font-size:12px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__price del,.store-goods.store-goods--quarter .store-goods__price span {
        font-size:15px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__price del,.store-goods.store-goods--quarter .store-goods__price span {
        font-size:20px
    }
}

.store-goods.store-goods--quarter .store-goods__price strong {
    line-height: 1.2
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__price strong {
        font-size:3.3333333333vw;
        font-size: max(3.3333333333vw,12px)
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__price strong {
        font-size:max(1.5625vw,12px)
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__price strong {
        font-size:16px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__price strong {
        font-size:21px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__price strong {
        font-size:28px
    }
}

.store-goods.store-goods--quarter .store-goods__price del {
    line-height: 1
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__price del {
        margin-top:.2777777778vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__price del {
        margin-top:.1953125vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__price del {
        margin-top:2px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__price del {
        margin-top:4px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__price del {
        margin-top:4px
    }
}

.store-goods.store-goods--quarter .store-goods__product {
    position: absolute
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__product {
        bottom:3.0555555556vw;
        height: 22.2222222222vw;
        width: 22.2222222222vw
    }

    [dir=ltr] .store-goods.store-goods--quarter .store-goods__product {
        right: .2777777778vw
    }

    [dir=rtl] .store-goods.store-goods--quarter .store-goods__product {
        left: .2777777778vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__product {
        bottom:2.1484375vw;
        height: 10.9375vw;
        width: 10.9375vw
    }

    [dir=ltr] .store-goods.store-goods--quarter .store-goods__product {
        right: 1.7578125vw
    }

    [dir=rtl] .store-goods.store-goods--quarter .store-goods__product {
        left: 1.7578125vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__product {
        bottom:22px;
        height: 112px;
        width: 112px
    }

    [dir=ltr] .store-goods.store-goods--quarter .store-goods__product {
        right: 18px
    }

    [dir=rtl] .store-goods.store-goods--quarter .store-goods__product {
        left: 18px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__product {
        bottom:32px;
        height: 150px;
        width: 150px
    }

    [dir=ltr] .store-goods.store-goods--quarter .store-goods__product {
        right: 24px
    }

    [dir=rtl] .store-goods.store-goods--quarter .store-goods__product {
        left: 24px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__product {
        bottom:40px;
        height: 200px;
        width: 200px
    }

    [dir=ltr] .store-goods.store-goods--quarter .store-goods__product {
        right: 32px
    }

    [dir=rtl] .store-goods.store-goods--quarter .store-goods__product {
        left: 32px
    }
}

.store-goods.store-goods--quarter .store-goods__energy {
    --group-margin-top: 8px
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__energy {
        --image-width:44px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__energy {
        --image-width:44px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__energy {
        --image-width:44px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__energy {
        --image-width:60px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__energy {
        --image-width:76px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__gift {
        --gift-size:7.7777777778vw
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .store-goods.store-goods--quarter .store-goods__gift {
        --gift-size:3.90625vw
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .store-goods.store-goods--quarter .store-goods__gift {
        --gift-size:40px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .store-goods.store-goods--quarter .store-goods__gift {
        --gift-size:54px
    }
}

@media screen and (min-width: 1921px) {
    .store-goods.store-goods--quarter .store-goods__gift {
        --gift-size:72px
    }
}

@media screen and (max-width: 720px) {
    .store-goods.store-goods--quarter .store-goods__gift {
        left:auto;
        right: 5px
    }

    [dir=rtl] .store-goods.store-goods--quarter .store-goods__gift {
        left: 5px;
        right: auto
    }
}