.site-cart__customer-service {
    left: unset;
    position: fixed;
    right: var(--right);
    z-index: 30
}

@media screen and (max-width: 720px) {
    .site-cart__customer-service {
        --right: 15px;
        bottom: 110px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .site-cart__customer-service {
        --right: 20px;
        bottom: 28px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .site-cart__customer-service {
        --right: 20px;
        bottom: 28px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .site-cart__customer-service {
        --right: 10px;
        bottom: 28px
    }
}

@media screen and (min-width: 1921px) {
    .site-cart__customer-service {
        --right: 10px;
        bottom: 28px
    }
}

[dir=rtl] .site-cart__customer-service {
    left: var(--right);
    right: unset
}


.mi-livechat {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.mi-livechat--icon-model {
    width: auto
}

.mi-livechat .support-contact__customer-service {
    align-items: center;
    background-color: #fff;
    background-color: var(--background-white);
    border-radius: 50%;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
    display: flex;
    height: var(--width);
    justify-content: center;
    margin: 0 auto;
    width: var(--width)
}

@media screen and (max-width: 720px) {
    .mi-livechat .support-contact__customer-service {
        --width: 48px;
        --action-cion: 27px
    }
}

@media screen and (min-width: 721px)and (max-width:1024px) {
    .mi-livechat .support-contact__customer-service {
        --width: 48px;
        --action-cion: 27px
    }
}

@media screen and (min-width: 1025px)and (max-width:1440px) {
    .mi-livechat .support-contact__customer-service {
        --width: 48px;
        --action-cion: 27px
    }
}

@media screen and (min-width: 1441px)and (max-width:1920px) {
    .mi-livechat .support-contact__customer-service {
        --width: 64px;
        --action-cion: 36px
    }
}

@media screen and (min-width: 1921px) {
    .mi-livechat .support-contact__customer-service {
        --width: 64px;
        --action-cion: 36px
    }
}

.mi-livechat .support-contact__customer-service-icon {
    color: #ff6900;
    color: var(--text-primary);
    font-size: var(--action-cion)
}

.mi-livechat .support-contact__customer-service-disabled .support-contact__customer-service-icon:hover {
    cursor: not-allowed
}

.mi-livechat .support-contact__customer-service-loading .support-contact__customer-service-icon:hover {
    cursor: wait
}

.mi-livechat--disable .support-contact__content:hover {
    cursor: not-allowed
}

.mi-livechat--loading .support-contact__content:hover {
    cursor: wait
}



.customer-service {

    .mi-dialog__body,
    .mi-drawer__body {
        padding-left: 0;
        padding-right: 0;
    }

    .mi-drawer__title {
        text-align: left;
    }

    .message-input {
        i {
            font-size: 20px;
            margin-left: 8px;
            cursor: pointer;
        }

        svg {
            fill: currentColor;
        }

        &.is-disabled {

            i,
            svg {
                cursor: not-allowed;
                color: var(--mi-disabled-text-color);
            }
        }
    }

    .emoji-container {
        text-align: left;
        height: 100%;
        width: 100%;
        overflow: hidden;
        height: 8rem;

        .mi-scrollbar {
            height: 100%;
            width: 100%;
        }

        .emoji-img {
            width: 20px;
            height: 20px;
            margin: 10px;
            cursor: pointer;
        }
    }


    .select-type {
        display: flex;

        >div,
        .mi-upload {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        >div {
            margin: 10px;
        }

        img.icon {
            width: 36px;
            height: 36px;
        }
    }

    &.is-pc {
        .message-list {
            height: 50vh;
        }
    }

    &.is-mobile {
        .message-list {
            height: 100%;
        }

        .mi-drawer__footer {
            padding: 8px;
        }

    }


    .order-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 18px;
        padding: 0 16px;
    }

    .order-list:only-child {
        margin-bottom: 18px;
    }

    .order-item {
        background-color: #fff;
        background-color: var(--background-light);
        border-radius: 12px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05);
        box-shadow: 0 0 12px 0 var(--shadow-black-a5);
        box-sizing: border-box;
        margin-top: 24px;
        padding: 18px;
        width: 100%;
    }

    .order-item:first-child {
        margin-top: 0
    }

    .order-item__header {
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid var(--border-light-variant);
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 12px
    }

    .order-item__header,
    .order-item__header__left,
    .order-item__header__right {
        align-items: center;
        display: flex
    }

    .order-item__content {
        align-items: flex-start;
        display: inline-flex;
        justify-content: space;
        padding: 12px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .order-item__link {
        display: inline-block;
        width: 100%
    }

    .order-item__link--button {
        line-height: 0;
        width: auto
    }

    .order-item__tips {
        color: #ff9e0d;
        font-size: 14px;
        line-height: 18px
    }

    .order-item__footer {
        align-items: center;
        display: flex;
        justify-content: space-between
    }

    .order-item__footer__left,
    .order-item__footer__right {
        display: inline-flex
    }

    .order-item__footer__left {
        flex-direction: column;
        flex-shrink: 1
    }

    .order-item__footer__right {
        align-items: center;
        flex-shrink: 0
    }

    .order-item__time {
        color: #b0b0b0;
        color: var(--title-light);
        font-size: 14px;
        line-height: 18px;
        margin-right: 8px;
    }

    .order-item__status {
        color: #ff6700;
        color: var(--primary-base);
        font-size: 14px
    }

    .order-item__delivers {
        border: 1px solid #ff9e0d;
        border-radius: .08333rem;
        color: #ff9e0d;
        color: var(--content-notice);
        font-size: 14px;
        line-height: 1;
        margin-left: 12px;
        padding: .06944rem .16667rem
    }

    .order-item__tag {
        background-color: #ff9e0d;
        border-radius: .05556rem;
        color: #fff;
        display: inline-flex;
        font-size: 14px;
        margin-right: 18px;
        padding: .02778rem .11111rem
    }

    .order-item__totalprice {
        color: #2e2323;
        color: var(--title-dark-variant-4);
        font-size: 14px
    }

    .order-item__eco-tax {
        font-size: 12px;
        margin-top: .05556rem
    }

    .order-item__vat-info {
        color: #b0b0b0;
        color: var(--title-light);
        font-size: 14px;
        margin-top: .06944rem
    }

    .order-item__buyprotect {
        color: #ff9e0d;
        font-size: 15px;
        line-height: .44444rem;
        margin-bottom: .25rem;
        margin-top: .69444rem;
        text-align: center
    }

    .order-item__button {
        background-color: #fff;
        background-color: var(--background-light);
        border: 1px solid #666;
        border-radius: 5px;
        box-sizing: border-box;
        color: #666;
        font-size: 15px;
        margin-left: 6px;
        min-height: 34px;
        padding: 18px 18px
    }

    .order-item__button--normal {
        border-color: #ff6700;
        border-color: var(--border-primary);
        color: #ff6700;
        color: var(--primary-base)
    }

    .order-item__button--active {
        background-color: #ff6700;
        background-color: var(--background-primary);
        border-color: #ff6700;
        border-color: var(--border-primary);
        color: #fff;
        color: var(--title-primary-variant-2)
    }

    .order-item__button--disabled {
        background-color: #b0b0b0;
        background-color: var(--background-secondary-variant-3);
        border-color: #b0b0b0;
        border-color: var(--border-input);
        color: #fff;
        color: var(--title-primary-variant-5)
    }

    .order-item__button:active,
    .order-item__button:focus {
        outline: none
    }

    .order-item__description {
        display: flex
    }

    .order-item__description__giftcard {
        font-size: 16px;
        line-height: 15px
    }

    .order-item__description__giftcard--date {
        color: #424242;
        margin-left: 12px
    }

    .order-item__description__giftcard--time {
        color: #c9c9c9;
        margin-left: 6px
    }

    .order-item__description__giftcard--icon {
        font-size: .5rem;
        line-height: 15px
    }

    .order-item__preorder {
        background: #ff6700;
        background: var(--primary-base);
        border-radius: .05556rem;
        color: #fff;
        color: var(--primary-variant);
        font-size: .25rem;
        height: .34722rem;
        line-height: .30556rem;
        padding: .02778rem 6px
    }

    .order-item__b-order-pay-date {
        color: #999;
        display: inline-block;
        font-size: 12px;
        height: 16px;
        line-height: 16px;
        padding-top: .20833rem
    }


    .commodity-item {
        align-items: flex-start;
        display: inline-flex;
        justify-content: space-between;
        margin: 6px 0;
        min-height: 70px;
        width: 100%;
    }

    .commodity-item__image {
        height: 70px;
        width: 70px;
        flex-shrink: 0;
    }

    .commodity-item__image img {
        height: 100%;
        object-fit: contain;
        width: 100%
    }

    .commodity-item__info {
        color: #2e2323;
        color: var(--title-dark-variant-3);
        font-size: 16px;
        line-height: 23px;
        flex: 1;
        word-break: break-word;
    }

    .commodity-item__text {
        background: #ff6700;
        color: #fff;
        display: inline-block;
        font-size: .30556rem;
        font-weight: 400;
        line-height: .5rem;
        padding: 0 6px
    }

    .commodity-item__energy {
        --group-margin-top: 0.13889rem;
        --image-width: 0.94444rem
    }

    .commodity-item__trade-in {
        align-items: center
    }
}