.card-wrapper {
	max-width: var(--max-width-1400);
	width: 100%;
}

@media screen and (max-width: 720px) {
	.card-wrapper {
		margin: 0 auto;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	.card-wrapper {
		margin: 0 auto;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.card-wrapper {
		margin: 16px auto;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	.card-wrapper {
		margin: 18px auto;
	}
}

@media screen and (min-width: 1921px) {
	.card-wrapper {
		margin: 18px auto;
	}
}

.card-wrapper .card-container {
	box-sizing: border-box;
	margin-top: 10px;
	overflow: hidden;
}

@media screen and (max-width: 720px) {
	.card-wrapper .card-container {
		margin-bottom: 70px;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	.card-wrapper .card-container {
		margin-bottom: 18px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.card-wrapper .card-container {
		margin-bottom: 60px;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	.card-wrapper .card-container {
		margin-bottom: 80px;
	}
}

@media screen and (min-width: 1921px) {
	.card-wrapper .card-container {
		margin-bottom: 80px;
	}
}

.card-wrapper .card-container .card-order-detail {
	background-color: #fff;
	background-color: var(--background-white);
	box-sizing: border-box;
	color: inherit;
	margin: 0 auto;
}

@media screen and (max-width: 720px) {
	.card-wrapper .card-container .card-order-detail {
		padding: 16px;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	.card-wrapper .card-container .card-order-detail {
		padding: 5.6640625vw 6.25vw 5.2734375vw;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.card-wrapper .card-container .card-order-detail {
		padding: 1.5625vw 2.1875vw;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	.card-wrapper .card-container .card-order-detail {
		padding: 1.5625vw 2.1875vw;
	}
}

@media screen and (min-width: 1921px) {
	.card-wrapper .card-container .card-order-detail {
		padding: 40px 56px;
	}
}

.card-wrapper .card-container .card-order-detail .order-summary {
	font-size: var(--h3-font-size);
	font-weight: 700;
	margin: 0 0 10px;
}

.card-wrapper .card-container .card-order-detail .order-summary__icon {
	-webkit-margin-end: 10px;
	margin-inline-end: 10px;
}

.card-wrapper .card-container .card-order-detail .order-message--hide {
	display: none;
}

.card-wrapper .card-container .card-order-detail .order-message__item {
	font-size: var(--p2-font-size);
}

.card-wrapper .card-container .card-payment-components {
	background: #fff;
	background: var(--background-white);
	position: relative;
}

@media screen and (max-width: 720px) {
	.card-wrapper .card-container .card-payment-components {
		margin-top: 10px;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	.card-wrapper .card-container .card-payment-components {
		margin-top: 12px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.card-wrapper .card-container .card-payment-components {
		margin-top: 12px;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	.card-wrapper .card-container .card-payment-components {
		margin-top: 16px;
	}
}

@media screen and (min-width: 1921px) {
	.card-wrapper .card-container .card-payment-components {
		margin-top: 16px;
	}
}

.card-wrapper.card-wrapper__two-c-two-p {
	display: flex;
	flex-grow: 1;
}

.card-wrapper.card-wrapper__two-c-two-p + .site-footer {
	display: none;
}

.card-wrapper.card-wrapper__two-c-two-p .card-container {
	display: grid;
	flex-grow: 1;
	grid-template-rows: auto minmax(0, 1fr);
	margin-bottom: 0;
}

.card-wrapper.card-wrapper__two-c-two-p .card-container .card-order-detail {
	margin: 0;
}

.card-wrapper.card-wrapper__two-c-two-p
	.card-container
	.card-payment-components {
	display: grid;
	grid-template-rows: 1fr;
}

.adyen-payment-wrapper {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 720px) {
	.adyen-payment-wrapper {
		padding: 4.4444444444vw 3.8888888889vw 16.6666666667vw;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	.adyen-payment-wrapper {
		padding: 4.39453125vw 6.25vw 7.8125vw;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.adyen-payment-wrapper {
		padding: 3.125vw 2.1875vw 4.6875vw;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	.adyen-payment-wrapper {
		padding: 3.125vw 2.1875vw 4.296875vw;
	}
}

@media screen and (min-width: 1921px) {
	.adyen-payment-wrapper {
		padding: 80px 56px 75px;
	}
}

.adyen-payment-wrapper.adyen-ideal-wrapper {
	height: 450px;
}

.adyen-payment-wrapper .adyen-payment-policy {
	bottom: 10px;
	box-sizing: border-box;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
}

@media screen and (max-width: 720px) {
	.adyen-payment-wrapper .adyen-payment-policy {
		padding: 0 3.8888888889vw;
		width: 100%;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	.adyen-payment-wrapper .adyen-payment-policy {
		padding: 0 6.25vw;
		width: 100%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.adyen-payment-wrapper .adyen-payment-policy {
		padding: 0 2.1875vw;
		width: 85.1388888889vw;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
	.adyen-payment-wrapper .adyen-payment-policy {
		padding: 0 2.1875vw;
		width: 1226px;
	}
}

@media screen and (min-width: 1921px) {
	.adyen-payment-wrapper .adyen-payment-policy {
		padding: 0 56px;
		width: 1226px;
	}
}

.adyen-payment-wrapper .adyen-payment-policy > a {
	color: #ff6900;
	color: var(--brand-orange);
}

.adyen-payment-wrapper .adyen-payment-container {
	margin-bottom: 20px;
}

.adyen-payment-wrapper .adyen-payment-container:empty {
	align-items: center;
	display: flex;
	justify-content: center;
}

.adyen-payment-wrapper .adyen-payment-container:empty:before {
	animation: rotateSpinner 1.5s linear infinite;
	border: 3px solid #06f;
	border-radius: 50%;
	border-top-color: transparent;
	content: '';
	display: block;
	height: 43px;
	margin: 0 auto;
	width: 43px;
}

@media screen and (max-width: 720px) {
	.adyen-payment-wrapper
		.adyen-payment-container
		.adyen-checkout__threeds2__challenge--02,
	.adyen-payment-wrapper
		.adyen-payment-container
		.adyen-checkout__threeds2__challenge--02
		.adyen-checkout__iframe--threeDSIframe {
		width: 100% !important;
	}
}

.adyen-payment-wrapper
	.adyen-payment-container
	.adyen-checkout__dropdown__button {
	box-sizing: border-box;
}
