.miv4 .order-view .site-footer__footer,.miv4 .order-view .site-footer__main {
    background-color: #191919;
    background-color: var(--background-black)
}

.order-view-wrapper {
    flex-grow: 1
}

.order-view {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.order-view section {
    background-color: #fff;
    background-color: var(--background-card-bg);
    margin-bottom: .41667rem
}

.order-view section:last-child {
    margin-bottom: 0
}

.order-view .container {
    padding: .41667rem
}

.order-view .order-detail-invoice {
    font-size: .36111rem;
    padding: 0 .41667rem .41667rem
}

.order-view .order-detail-invoice .order-invoice__title {
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    color: #b0b0b0;
    color: var(--title-light);
    font-size: .36111rem;
    line-height: 1.11111rem
}

.order-view .order-detail-invoice .order-invoice__info {
    font-size: .38889rem;
    height: auto;
    margin: .41667rem 0;
    width: 100%
}

.order-view .order-detail-invoice .order-invoice__info li {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 1.04167rem;
    justify-content: space-between;
    padding: 0 .41667rem;
    width: 100%
}

.order-view .order-detail-invoice .order-invoice__button {
    display: flex;
    justify-content: flex-end
}

.order-view .order-detail-invoice .order-invoice__button span {
    border-color: #ff6700;
    border-color: var(--border-primary);
    color: #ff6700;
    color: var(--primary-base)
}

.hide {
    display: none
}

.order-status-btn {
    border: .01389rem solid;
    border-radius: .11111rem;
    cursor: pointer;
    display: inline-block;
    margin: .05556rem .13889rem;
    padding: .19444rem .41667rem;
    white-space: nowrap
}

.order-status-btn--orange {
    background-color: #ff6700;
    background-color: var(--background-primary);
    color: #fff;
    color: var(--title-primary-variant-2)
}

.order-status-btn--orange,.order-status-btn--white {
    border-color: #ff6700;
    border-color: var(--border-primary)
}

.order-status-btn--white {
    color: #ff6700;
    color: var(--primary-base)
}

.order-status-btn--normal,.order-status-btn--white {
    background-color: #fff;
    background-color: var(--background-light)
}

.order-status-btn--normal {
    border-color: #666;
    color: #666
}

.order-status-btn--disabled {
    background-color: #b0b0b0;
    background-color: var(--background-secondary-variant-3);
    border-color: #b0b0b0;
    border-color: var(--border-input);
    color: #fff;
    color: var(--title-primary-variant-5);
    cursor: not-allowed
}

.change-address__modal-content {
    padding: 0!important;
    width: 100%
}

.address__header-bar {
    background-color: #fff;
    border-radius: .27778rem;
    font-weight: 400;
    padding: .55556rem .69444rem
}

.address__title {
    color: #ff6700;
    font-size: .5rem;
    font-weight: 400;
    line-height: .61111rem;
    margin: 0;
    text-align: center
}

.address__notice {
    color: #b0b0b0;
    font-size: .38889rem;
    line-height: .5rem;
    margin-top: .31944rem
}

.address__info-detail {
    background-color: #f9f9fa;
    background-color: var(--background-base-variant);
    border-top: .01389rem solid #eee;
    border-top: .01389rem solid var(--border-light-variant);
    color: #424242;
    line-height: .47222rem;
    padding: .41667rem .69444rem;
    text-align: left
}

.address__user-info {
    font-size: .38889rem;
    margin-bottom: .20833rem;
    word-break: break-all
}

.address__user-info-name {
    margin-right: .83333rem
}

.address__address-info {
    font-size: .36111rem;
    line-height: .47222rem;
    margin-bottom: .04167rem
}

.order-info {
    flex-flow: column nowrap;
    font-size: .38889rem;
    padding: .41667rem
}

.order-info,.order-info .order-info__wrap {
    display: flex;
    justify-content: space-between
}

.order-info .order-info__id {
    color: #424242;
    color: var(--title-base);
    margin-bottom: .11111rem;
    white-space: nowrap
}

.order-info .order-info__status {
    color: #ff6700;
    color: var(--primary-base);
    margin-left: .06944rem;
    text-align: right
}

.order-info .order-info__status .xiaomi {
    margin-left: .13889rem
}

.order-info .order-info__date {
    color: #b0b0b0;
    color: var(--title-light);
    font-size: .33333rem
}

.order-info .order-info__tag {
    background-color: #ff6700;
    background-color: var(--background-primary);
    border-radius: .05556rem;
    color: #fff;
    color: var(--title-primary-variant-2);
    font-size: .33333rem;
    margin-right: .19444rem;
    padding: .02778rem .13889rem
}

.order-info .order-info__deposit {
    color: #b0b0b0;
    font-size: .27778rem;
    line-height: .38889rem
}

.order-address--mobile>.container {
    display: flex;
    justify-content: flex-start;
    line-height: .55556rem
}

.order-address--mobile>.container .address-icon {
    color: #b0b0b0;
    color: var(--content-delivery-info-2);
    display: inline-block;
    font-size: .58333rem;
    height: .58333rem;
    width: .58333rem
}

.order-mail {
    align-items: center;
    background: #fff;
    background: var(--background-card-bg);
    box-sizing: border-box;
    display: flex;
    font-size: .38889rem;
    height: 1.38889rem;
    justify-content: space-between;
    margin-bottom: .44444rem;
    padding: 0 .41667rem;
    width: 100%
}

.order-mail .order-mail__name {
    color: #b0b0b0;
    color: var(--content-delivery-info-2)
}

.order-mail .order-mail__detail {
    color: #424242;
    color: var(--content-dark)
}

.address-info {
    font-size: .38889rem;
    margin-left: .52778rem;
    width: 100%
}

.address-info__change {
    border: .01389rem solid #ff6700;
    border: .01389rem solid var(--border-primary);
    border-radius: .11111rem;
    box-sizing: border-box;
    color: #ff6700;
    color: var(--primary-base);
    display: inline-block;
    font-size: .33333rem;
    line-height: .40278rem;
    margin-top: .20833rem;
    padding: .125rem .33333rem
}

.address-info span {
    display: inline-block
}

.address-info .address-info__tel {
    margin-left: .83333rem
}

.address-info .address-info__city,.address-info .address-info__detail,.address-info .address-info__pincode,.address-info .address-info__province {
    color: #b0b0b0;
    color: var(--title-light);
    font-size: .36111rem;
    word-break: break-word
}

.address-info__pre-deliver-time {
    color: #ff6700;
    color: var(--primary-base);
    font-size: .25rem;
    margin-bottom: .13889rem;
    margin-left: 1.52778rem
}

.order-insurance {
    background: #fff;
    color: #424242;
    display: flex;
    flex-flow: column nowrap;
    font-size: .33333rem;
    justify-content: space-between;
    padding: .41667rem
}

.order-insurance__id {
    font-size: .38889rem;
    margin-bottom: .20833rem
}

.order-insurance__list li {
    display: flex;
    flex-flow: row nowrap;
    line-height: .5rem;
    width: 100%
}

.order-insurance__list li span {
    display: inline-block
}

.order-insurance__name {
    width: 45%
}

.order-insurance__detail {
    width: 55%
}

.ship-info {
    background: #fff;
    background: var(--background-light)
}

.ship-info .header {
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    color: #b0b0b0;
    color: var(--title-light);
    height: .44444rem;
    line-height: .44444rem;
    padding: .34722rem .41667rem
}

.ship-info .header__title {
    color: #222;
    color: var(--title-dark-variant);
    float: left;
    font-size: .36111rem;
    font-weight: 400
}

.ship-info .header__price {
    float: right;
    font-size: .36111rem;
    font-weight: 400
}

.ship-info .header .highlight {
    color: #ff6700;
    color: var(--border-primary)
}

.ship-info .container .container-title {
    font-size: .36111rem;
    font-weight: 400;
    margin-bottom: .13889rem
}

.ship-info .container div {
    margin-bottom: .13889rem
}

.ship-info .info,.ship-info .title {
    color: #b0b0b0;
    color: var(--content-delivery-info-2);
    font-size: .36111rem;
    font-weight: 400;
    line-height: .5rem
}

.ship-info .bussiness-time .time-icon {
    background: url(//i01.appmifile.com/webfile/globalimg/mall/checkout/tips.png) no-repeat 50%;
    background-size: contain;
    display: inline-block;
    height: .34722rem;
    margin-left: .08333rem;
    vertical-align: middle;
    width: .34722rem
}

.business-time-content__m {
    padding: 0 .41667rem
}

.business-time-content__m .pick-time {
    align-items: center;
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light);
    color: #757575;
    color: var(--content-light);
    display: flex;
    font-size: .38889rem;
    height: 1.30556rem;
    width: 100%
}

.bussiness-time-modal__m .mi-modal__header .mi-modal__title-wrap .mi-modal__title {
    color: #b0b0b0;
    color: var(--content-delivery-info-2);
    font-size: .36111rem
}

.bussiness-time-modal__m .button-close {
    top: 0!important
}

.order-express {
    font-size: .33333rem;
    margin-bottom: .41667rem
}

.order-express .pay-countdown {
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    color: #222;
    color: var(--title-dark-variant);
    font-size: .36111rem;
    padding: .48611rem .41667rem .47222rem
}

.order-express .pay-countdown--highlight {
    color: #ff6700;
    color: var(--primary-base)
}

.order-express .pay-countdown__time {
    color: #b0b0b0;
    margin: .13889rem 0
}

.order-express .pay-countdown__info,.order-express .pay-countdown__time {
    font-size: .33333rem;
    font-weight: 400;
    height: .40278rem;
    line-height: .40278rem
}

.order-express .pay-countdown__info {
    color: #ff6700
}

.order-express .express-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: auto;
    padding: .73611rem 0 .56944rem;
    @media screen and (min-width:721px){
        font-size: 20px;
    }
}

.order-express .express-box:empty {
    display: none
}

.order-express .express-description {
    padding: 0 .41667rem;
    white-space: nowrap
}

.order-express .express-progress {
    border: none;
    display: inline-block;
    padding: .36111rem 0 .25rem;
    position: relative;
    width: 100%
}

.order-express .express-progress .express-progress__point-line {
    border: none;
    display: inline-block;
    margin: .05556rem .08333rem .25rem;
    position: relative;
    width: 100%
}

.order-express .express-progress .express-progress__point {
    border-radius: 100%;
    height: .15278rem;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: -.06944rem;
    transform: translateX(-50%);
    width: .15278rem
}

.order-express .express-progress .express-progress__line:after,.order-express .express-progress .express-progress__line:before {
    background: #b0b0b0;
    background: var(--background-step);
    content: "";
    display: block;
    height: .02778rem;
    position: absolute;
    width: 50%
}

.order-express .express-progress .express-progress__line:before {
    right: calc(50% + .13889rem)
}

.order-express .express-progress .express-progress__line:after {
    left: calc(50% + .13889rem)
}

.order-express .express-item {
    align-items: center;
    display: flex;
    flex-flow: column
}

.order-express .express-item--active {
    color: #6eb655;
    color: var(--background-step-done)
}

.order-express .express-item--active .express-progress__line:after,.order-express .express-item--active .express-progress__line:before,.order-express .express-item--active .express-progress__point,.order-express .express-item--active .express-progress__point-line {
    background: #6eb655;
    background: var(--background-step-done)
}

.order-express .express-item--normal {
    color: #b0b0b0;
    color: var(--background-step)
}

.order-express .express-item--normal .express-progress__line:after,.order-express .express-item--normal .express-progress__line:before,.order-express .express-item--normal .express-progress__point,.order-express .express-item--normal .express-progress__point-line {
    background: #b0b0b0;
    background: var(--background-step)
}

.order-express .express-item:first-child .express-progress__line:before,.order-express .express-item:last-child .express-progress__line:after {
    content: none
}

.order-express .express-time {
    align-items: center;
    display: flex;
    flex-flow: column
}

.order-express .sdd-ndd-mention {
    color: rgba(255,105,0,.98);
    font-size: .33333rem;
    font-weight: 400;
    line-height: .41667rem;
    margin: .33333rem
}

.order-express .sdd-ndd-wrap {
    border-top: .01389rem solid #eee;
    margin: 0 .41667rem;
    padding: .20833rem 0 .20833rem 1.80556rem;
    position: relative
}

.order-express .sdd-ndd-wrap img {
    display: inline-block;
    height: .79167rem;
    left: 0;
    position: absolute;
    top: .30556rem;
    vertical-align: middle;
    width: 1.25rem
}

.order-express .sdd-ndd-wrap .sdd-ndd-dis {
    color: #2e2323;
    font-size: .33333rem;
    font-weight: 400;
    line-height: .44444rem;
    vertical-align: middle
}

.order-express .sdd-ndd-wrap .sdd-name {
    margin-bottom: .08333rem
}

.order-express .sdd-ndd-wrap .sdd-detail {
    border: .02778rem solid #b0b0b0;
    border-radius: 50%;
    color: #b0b0b0;
    display: inline-block;
    font-size: .22222rem;
    font-style: normal;
    font-weight: 700;
    height: .38889rem;
    line-height: .38889rem;
    margin-left: .13889rem;
    text-align: center;
    vertical-align: middle;
    width: .38889rem
}

.order-express .express-arrival {
    border-top: .01389rem solid #eee;
    border-top: .01389rem solid var(--border-light-variant);
    color: #2e2323;
    color: var(--title-dark-variant-3);
    font-size: .36111rem;
    line-height: .51389rem;
    margin: 0 .41667rem;
    padding: .40278rem 0 .43056rem
}

.sdd-ndd-mask {
    align-items: center;
    background: rgba(0,0,0,.6);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

.sdd-ndd-mask .sdd-ndd-desc {
    background: #fff;
    border-radius: .27778rem;
    box-sizing: border-box;
    padding-top: .55556rem;
    width: 7.69444rem
}

.sdd-ndd-mask .sdd-ndd-desc-title {
    color: rgba(255,105,0,.98);
    font-size: .5rem;
    font-weight: 400;
    height: .61111rem;
    line-height: .61111rem;
    margin-bottom: .27778rem;
    text-align: center
}

.sdd-ndd-mask .sdd-ndd-desc-item {
    color: #424242;
    font-size: .38889rem;
    font-weight: 500;
    line-height: .58333rem;
    margin-bottom: .41667rem;
    padding: 0 .69444rem
}

.sdd-ndd-mask .sdd-ndd-detail {
    color: #424242;
    font-size: .38889rem;
    font-weight: 400;
    line-height: .58333rem
}

.sdd-ndd-mask .sdd-ndd-more {
    color: #298cda;
    font-size: .38889rem;
    font-weight: 400;
    line-height: .58333rem;
    padding: 0 .69444rem;
    text-decoration: underline
}

.sdd-ndd-mask .sdd-ndd-btn {
    border-top: .01389rem solid #eee;
    color: #ff6700;
    font-weight: 400;
    height: 1.38889rem;
    line-height: 1.38889rem;
    margin-top: .58333rem;
    text-align: center
}

.order-join-group {
    background-color: #fff;
    font-size: .33333rem;
    margin-bottom: .41667rem;
    overflow: hidden;
    padding: .48611rem .41667rem .47222rem
}

.order-join-group span:first-child {
    float: left
}

.order-join-group span:last-child {
    cursor: pointer;
    float: right
}

.shipping-instruction {
    margin-bottom: .43056rem
}

.shipping-instruction__titleWrap {
    height: 1.11111rem;
    line-height: 1.11111rem;
    padding: 0 .41667rem
}

.shipping-instruction__title {
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    color: #b0b0b0;
    color: var(--title-light);
    font-size: .36111rem;
    line-height: 1.11111rem
}

.shipping-instruction__content {
    color: #222;
    color: var(--title-dark-variant);
    font-size: .36111rem;
    line-height: .47222rem;
    padding: .51389rem .41667rem .47222rem
}

.miv4 .product-info__double-points__icon_text {
    transform: scale(.8);
    transform-origin: left center
}

.miv4 .product-info__item.trade-in__item .product-info__view {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 1.52778rem;
    justify-content: center;
    width: 1.52778rem
}

.miv4 .product-info__item.trade-in__item .product-info__view img {
    height: 90%;
    margin: 0;
    width: auto
}

.miv4 .product-info__item.trade-in__item .product-info__name {
    margin-bottom: 0
}

.miv4 .product-info__item.trade-in__item .product-info__name-tips {
    background-color: #fff0e6;
    border: .01389rem solid #ff6900;
    border-radius: .06944rem;
    box-sizing: border-box;
    color: #ff6900;
    font-size: .27778rem;
    min-height: .27778rem;
    padding: .01389rem .08333rem;
    width: -moz-fit-content;
    width: fit-content
}

.miv4 .product-info__item.trade-in__item .product-info__name-imei {
    margin-top: .13889rem
}

.none-service {
    display: none!important
}

.orderview-product {
    --order-view-product-padding: 0.41667rem;
    font-size: .36111rem;
    padding: 0 var(--order-view-product-padding) var(--order-view-product-padding)
}

.orderview-product.orderview-product--have-sub-delivers {
    background-color: #f9f9fa;
    background-color: var(--background-base-variant);
    padding: 0
}

.orderview-product a {
    display: block;
    overflow: hidden
}

.orderview-product .product-info__delivery {
    background: #fff;
    background: var(--background-card-bg);
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    box-sizing: border-box;
    padding: .41667rem 0
}

.orderview-product .product-info__delivery-item {
    color: #222;
    color: var(--title-dark-variant);
    font-size: .36111rem;
    line-height: .55556rem
}

.orderview-product .product-info__deliveryinfo-content {
    color: #ff6700;
    color: var(--primary-base)
}

.orderview-product .product-info__delivery-edd {
    align-items: center;
    display: flex
}

.orderview-product .product-info__item {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-start;
    padding-top: .41667rem
}

.orderview-product .product-info__img {
    height: 1.52778rem;
    width: 1.52778rem
}

.orderview-product .product-info__detail {
    display: flex;
    flex: 1 1;
    flex-direction: column
}

.orderview-product .product-info__box {
    display: flex;
    flex-grow: 1;
    justify-content: space-between
}

.orderview-product .product-info__namewrap {
    display: block
}

.orderview-product .product-info__name {
    display: block;
    margin-bottom: .06944rem;
    padding: 0;
    width: 100%
}

.orderview-product .product-info__energy {
    --group-margin-top: 0.13889rem;
    --image-width: 0.94444rem
}

.orderview-product .product-info__logo {
    color: #424242;
    font-size: .30556rem;
    font-weight: 400;
    padding: .06944rem 0
}

.orderview-product .product-info__text {
    background-color: #ff6700;
    background-color: var(--background-primary);
    color: #fff;
    color: var(--title-primary-variant-2);
    display: inline-block;
    font-size: .30556rem;
    font-weight: 400;
    line-height: .5rem;
    padding: 0 .13889rem
}

.orderview-product .product-info__eco-tax {
    font-size: .27778rem;
    margin-top: .05556rem
}

.orderview-product .product-info__preorder {
    background-color: #ff6700;
    background-color: var(--background-primary);
    border-radius: .05556rem;
    color: #fff;
    color: var(--title-primary-variant-2);
    font-size: .25rem;
    height: .34722rem;
    line-height: .30556rem;
    padding: .02778rem .13889rem;
    width: 1rem
}

.orderview-product .product-info__order-info {
    background-color: #f9f9fa;
    background-color: var(--background-base-variant);
    color: #424242;
    color: var(--content-dark-variant-3);
    font-size: .33333rem;
    margin-top: .41667rem;
    padding: .41667rem .55556rem;
    position: relative
}

.orderview-product .product-info__step {
    min-width: .98611rem
}

.orderview-product .product-info__a-order-info {
    display: flex;
    min-height: .76389rem;
    padding-bottom: .27778rem
}

.orderview-product .product-info__a-order-info:before {
    border-left: .05556rem dotted #999;
    content: "";
    display: block;
    height: 1.04167rem;
    left: .27778rem;
    position: absolute;
    top: .55556rem
}

.orderview-product .product-info__a-order-info:after {
    background-color: #000;
    background-color: var(--title-dark);
    border-radius: .11111rem;
    content: "";
    display: block;
    height: .08333rem;
    left: .26389rem;
    position: absolute;
    top: .58333rem;
    width: .08333rem;
    z-index: 1
}

.orderview-product .product-info__order-price {
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: .06944rem
}

.orderview-product .product-info__order-status {
    float: right;
    margin-left: .13889rem;
    text-align: right
}

.orderview-product .product-info__b-order-info {
    display: flex
}

.orderview-product .product-info__b-order-info:before {
    background-color: #000;
    border-radius: .11111rem;
    content: "";
    display: block;
    height: .08333rem;
    left: .26389rem;
    position: absolute;
    top: 1.59722rem;
    width: .08333rem;
    z-index: 1
}

.orderview-product .product-info__b-order-not-start {
    color: #999
}

.orderview-product .product-info__b-order-not-start:after,.orderview-product .product-info__b-order-not-start:before {
    background-color: #999
}

.orderview-product .product-info__b-order-pay-date {
    color: #999;
    display: inline-block;
    padding-top: .20833rem
}

.orderview-product .product-info__soldby {
    color: #ddd;
    font-size: .33333rem
}

.orderview-product .product-info__price {
    color: #ff6700;
    color: var(--primary-base);
    font-size: .33333rem;
    white-space: nowrap
}

.orderview-product .product-info__num {
    color: #666;
    font-size: .33333rem
}

.orderview-product .product-info__numwrap {
    -webkit-margin-start: .13889rem;
    align-items: flex-end;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    margin-inline-start:.13889rem}

.orderview-product button {
    background: #fff;
    border: .01389rem solid #757575;
    float: right;
    font-size: .38889rem;
    margin: .41667rem 0;
    padding: .13889rem .27778rem
}

.orderview-product .product-info__titleWrap {
    height: 1.11111rem;
    line-height: 1.11111rem
}

.orderview-product .product-info__title {
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    color: #b0b0b0;
    color: var(--title-light)
}

.orderview-product .product-info__edd {
    --font-color: #898989;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: .11111rem;
    color: var(--font-color);
    display: flex;
    font-size: .33333rem;
    justify-content: space-between;
    margin-top: .22222rem;
    padding: .11111rem .13889rem
}

.orderview-product .product-info__delivery-edd .edd__button,.orderview-product .product-info__edd .edd__button {
    -webkit-margin-start: .13889rem;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    line-height: 1;
    margin: 0;
    margin-inline-start:.13889rem;padding: 0
}

.orderview-product .product-info__delivery-edd .edd__icon,.orderview-product .product-info__edd .edd__icon {
    font-size: .41667rem;
    line-height: 1
}

.orderview-product .product-item--countdown {
    align-items: center;
    background: #6eb655;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: .13889rem
}

.orderview-product .product-item--countdown__text {
    line-height: 1.2
}

.orderview-product .product-item--countdown i {
    flex: 0 0 0.69444rem
}

.orderview-product .product-item--learnmore {
    color: #ff6700
}

.orderview-product .in_learn {
    margin-left: .05556rem
}

.orderview-product__haveSubDelivers {
    background-color: #fff;
    margin-bottom: .41667rem;
    padding: 0 var(--order-view-product-padding)
}

.orderview-product__haveSubDelivers:last-child {
    margin-bottom: 0
}

.orderview-product .color-gray {
    color: #b0b0b0;
    color: var(--title-light)
}

.orderview-product .icon-down {
    color: #ddd;
    color: var(--border-base-variant-2);
    font-weight: 700
}

.modal-info__bundleList .mi-modal__header .mi-modal__title-wrap .mi-modal__title {
    text-align: left!important
}

.modal-info__bundleList .button-close {
    line-height: 1;
    top: 0!important
}

.product-info__bundleList {
    background-color: #fff;
    background-color: var(--background-light)
}

.product-info__bundleList li {
    align-items: center;
    background: #fff;
    background: var(--background-light-sku);
    box-sizing: border-box;
    display: flex;
    height: 1.30556rem;
    justify-content: flex-start;
    padding: .20833rem .68056rem .20833rem .19444rem
}

.product-info__bundleList li .bundle-list__img {
    display: flex;
    margin-right: .30556rem;
    width: 1.11111rem
}

.product-info__bundleList li img {
    height: 100%;
    width: 100%
}

.product-info__bundleList p {
    color: #222;
    color: var(--title-dark-variant);
    font-size: .36111rem;
    margin-right: .13889rem;
    overflow: hidden;
    width: 100%
}

.product-info__bundleList .product-info__bundle-item-count {
    font-size: .36111rem
}

.product-info__bundleList .product-info__bundle-item-container {
    display: flex;
    flex-direction: column
}

.product-info__bundleList .product-info__bundle-item-eco-tax {
    font-size: .27778rem
}

.product-info__insurance-list {
    background-color: #fff;
    background-color: var(--background-light-sku);
    border-radius: .11111rem;
    box-sizing: border-box;
    padding: 0 .41667rem .41667rem;
    position: relative;
    width: 100%
}

.product-info__insurance-list .product-info__insurance-item {
    align-items: flex-start;
    background-color: #f9f9fa;
    background-color: var(--background-base-variant);
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    padding: .41667rem .41667rem .41667rem .58333rem
}

.product-info__insurance-list .product-info__insurance-item:last-of-type {
    border-bottom: 0
}

.product-info__insurance-list .product-info__insurance-item .product-info__insurance-imei {
    background-color: #fff;
    border: .01389rem solid #ddd;
    box-sizing: border-box;
    color: #2f2322;
    font-size: .33333rem;
    height: .83333rem;
    line-height: .83333rem;
    padding: 0 .41667rem;
    width: 100%
}

.product-info__insurance-list .product-info__insurance-item .product-info__insurance-info {
    color: #b0b0b0;
    font-size: .33333rem;
    margin: .41667rem 0 0
}

.product-info__insurance-list .product-info__insurance-item .product-info__insurance-faq {
    border: .01389rem solid #ff6700;
    border: .01389rem solid var(--border-primary);
    border-radius: 50%;
    color: #ff6700;
    color: var(--primary-base);
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    font-size: .33333rem;
    font-style: normal;
    height: .36111rem;
    margin-left: .27778rem;
    text-align: center;
    width: .36111rem
}

.product-info__insurance-list .product-info__insurance-item .product-info__insurance-button {
    align-self: flex-end;
    background-color: #fff;
    background-color: var(--background-light-sku);
    border: .01389rem solid #ff6700;
    border: .01389rem solid var(--border-primary-variant-2);
    border-radius: .11111rem;
    box-sizing: border-box;
    color: #ff6700;
    color: var(--primary-base);
    float: none;
    font-size: .36111rem;
    margin: .41667rem 0 0;
    min-height: .83333rem;
    outline: none;
    padding: .19444rem .41667rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.product-info__insurance-list .triangle {
    border: .20833rem solid transparent;
    border-bottom-color: #f9f9fa;
    display: block;
    height: 0;
    left: .97222rem;
    position: absolute;
    top: -.41667rem;
    width: 0
}

.product-info__btn {
    background: #fff;
    background: var(--background-card-bg);
    display: flex;
    justify-content: flex-end;
    padding: .36111rem 0 .41667rem
}

.product-info__bundle {
    border: .01389rem solid #ddd;
    border: .01389rem solid var(--border-base-variant-2);
    border-radius: .04167rem;
    box-sizing: border-box;
    color: #b0b0b0;
    color: var(--title-light);
    display: flex;
    height: .69444rem;
    justify-content: space-between;
    line-height: .69444rem;
    margin-top: .23611rem;
    padding: 0 .26389rem .34722rem;
    position: relative;
    width: 4.16667rem
}

.product-info__view {
    display: block;
    flex-shrink: 0;
    height: 1.52778rem;
    margin-right: .20833rem;
    position: relative;
    width: 1.52778rem
}

.product-info__double-points__icon {
    align-items: flex-end;
    background: url(//i01.appmifile.com/webfile/globalimg/mall/points/orderview/double-points.png) 50% no-repeat;
    background-size: contain;
    bottom: 0;
    display: flex;
    height: .38889rem;
    left: 0;
    position: absolute;
    width: 1.52778rem
}

.product-info__double-points__icon_text {
    color: #fff;
    font-size: .19444rem;
    font-weight: 600;
    line-height: .22222rem;
    margin-bottom: .06944rem;
    margin-left: .41667rem;
    text-shadow: 0 .02778rem .02778rem rgba(255,71,0,.2)
}

.trade-in__item .product-info__view {
    flex-shrink: 0;
    height: 1.52778rem;
    width: 1.52778rem
}

.trade-in__item .product-info__view img {
    display: block;
    height: 1.44444rem;
    margin: 0 auto;
    width: 1rem
}

.trade-in__item .product-info__namewrap {
    display: flex;
    flex-direction: column
}

.trade-in__item .product-info__name-imei {
    color: #ddd;
    margin-top: .33333rem
}

.trade-in__item .product-info__name-text {
    align-items: center;
    display: flex
}

.trade-in__item .product-info__name-text .product-info__name {
    width: -moz-fit-content;
    width: fit-content
}

.trade-in__item .product-info__name-text .product-info__name-tips {
    background: #ff6700;
    border-radius: .08333rem;
    color: #fff;
    font-size: .33333rem;
    line-height: .5rem;
    margin-left: .08333rem;
    padding: 0 .13889rem;
    text-align: center
}

.in-insurancelink-dialog {
    display: flex;
    flex-direction: column;
    text-align: left
}

.in-insurancelink-dialog .in-insurancetext {
    color: #2e2323;
    font-size: .38889rem;
    line-height: 1.2;
    margin-top: .08333rem
}

.in-insurancelink-dialog .in-insurancelink {
    color: #0066da;
    font-size: .33333rem;
    line-height: 1.2;
    margin-top: .08333rem;
    text-decoration: underline;
    width: 100%
}

.mi-dialog.mi-dialog--mobile .mi-dialog__container {
    font-size: .36111rem;
    max-height: 80%;
    overflow-y: auto
}

.mi-dialog.mi-dialog--mobile .mi-dialog__container .mi-dialog__content.product-info-item__edd-dialog {
    font-size: .36111rem;
    line-height: 1.2;
    text-align: start
}

.mi-dialog.mi-dialog--mobile .edd-modal__faq-subtitle {
    margin: .27778rem 0
}

.mi-dialog.mi-dialog--mobile .edd-modal__faq-link {
    color: #ff6900;
    display: block;
    margin-top: .41667rem
}

.mi-dialog.mi-dialog--mobile .mi-dialog__footer {
    background-color: #fff;
    bottom: 0;
    position: sticky
}

.eco-tax-container {
    display: inline-block
}

.eco-tax-container .eco-tax-text {
    color: #bababa;
    line-height: 1
}

.trade-in-info {
    align-items: start;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 1.38889rem auto;
    width: 100%
}

.trade-in-image {
    -webkit-margin-end: .13889rem;
    grid-column: 1;
    height: 1.38889rem;
    margin-inline-end:.13889rem;padding-top: .11111rem;
    width: 1.38889rem
}

.trade-in-content {
    align-self: center;
    color: #898989;
    font-size: .38889rem;
    font-weight: 400;
    grid-column: 2;
    padding: .38889rem .38889rem .38889rem 0;
    white-space: pre-line
}

.trade-in-content strong {
    color: #ff6900
}

.trade-in-content a {
    color: #ff6900;
    display: contents
}

.removal-service {
    background-color: #fff;
    margin-bottom: .43056rem
}

.removal-service__info {
    color: #424242;
    font-size: .33333rem;
    font-weight: 400;
    padding: .41667rem
}

.delivery-time-invoice-info {
    background: #fff;
    background: var(--background-card-bg);
    color: #424242;
    color: var(--title-base);
    font-size: .33333rem;
    height: auto;
    margin: .41667rem 0;
    width: 100%
}

.delivery-time-invoice-info li {
    border-bottom: .02778rem solid #eee;
    border-bottom: .02778rem solid var(--border-light-variant);
    padding: .41667rem 0
}

.delivery-time-invoice-info li:last-child {
    border-bottom: none
}

.delivery-time-invoice-info dd {
    margin: 0;
    white-space: pre-line
}

.delivery-time-invoice-info .invoice-remark {
    padding-top: .20833rem
}

.delivery-time-invoice-info .invoice-remark__link {
    color: #ff6700
}

.delivery-time-invoice-info .invoice-remark__link:hover {
    text-decoration: underline
}

.delivery-time-invoice-info dl {
    align-items: center;
    display: flex;
    line-height: .44444rem;
    margin: 0;
    min-height: .58333rem;
    padding: 0 .41667rem
}

.delivery-time-invoice-info dt {
    flex-basis: 2.36111rem;
    flex-shrink: 0
}

.order--invoice-info {
    background: #fff;
    background: var(--background-card-bg);
    color: #424242;
    color: var(--title-base);
    font-size: .33333rem;
    height: auto;
    margin: .41667rem 0;
    width: 100%
}

.order--invoice-info li {
    padding: .41667rem 0
}

.order--invoice-info dd {
    margin: 0;
    white-space: pre-line
}

.order--invoice-info .invoice-remark {
    padding-top: .20833rem
}

.order--invoice-info dl {
    align-items: center;
    display: flex;
    line-height: .44444rem;
    margin: 0;
    min-height: .58333rem;
    padding: 0 .41667rem
}

.order--invoice-info dt {
    flex-basis: 3.19444rem;
    flex-shrink: 0
}

.order--invoice-info--update {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .41667rem;
    padding: 0 .41667rem
}

.order--invoice-info--btn {
    border: .01389rem solid;
    border-radius: .11111rem;
    display: inline-block;
    font-size: .33333rem;
    margin: .05556rem .13889rem;
    padding: .19444rem .41667rem;
    white-space: nowrap
}

.order--invoice-info--btn--orange {
    background-color: #ff6700;
    background-color: var(--background-primary);
    border-color: #ff6700;
    border-color: var(--border-primary);
    color: #fff;
    color: var(--title-primary-variant-2)
}

.order--invoice-info--btn--white {
    background-color: #fff;
    background-color: var(--background-light);
    border-color: #ff6700;
    border-color: var(--border-primary);
    color: #ff6700;
    color: var(--primary-base)
}

.order--invoice-info--edit-invoice input {
    border: .01389rem solid #ddd;
    border: .01389rem solid var(--border-base-variant-2);
    box-sizing: border-box;
    color: #000;
    color: var(--title-dark);
    flex-grow: 1;
    font-size: .33333rem;
    height: 1.11111rem;
    line-height: .33333rem;
    margin: .41667rem 0;
    outline: none;
    padding: .33333rem .36111rem;
    width: 100%
}

.order--invoice-info--edit-invoice input::-moz-placeholder {
    color: #c9c9c9;
    color: var(--title-light-variant)
}

.order--invoice-info--edit-invoice input::placeholder {
    color: #c9c9c9;
    color: var(--title-light-variant)
}

.order--invoice-info--edit-line {
    font-size: .33333rem;
    line-height: .44444rem;
    margin: .41667rem 0;
    min-height: .58333rem;
    padding: 0 .41667rem
}

.order--invoice-info--error {
    color: #f23835
}

.mi-modal.mi-modal--mobile .mi-modal__overlay .mi-modal__content.invoice-application__modal {
    padding: .55556rem .44444rem 0
}

.mi-modal.mi-modal--mobile .mi-modal__overlay .mi-modal__content.invoice-application__modal .mi-modal__footer {
    grid-column-gap: .41667rem;
    -moz-column-gap: .41667rem;
    column-gap: .41667rem;
    justify-content: space-between;
    padding: .66667rem 0 .44444rem
}

.mi-modal.mi-modal--mobile .mi-modal__overlay .mi-modal__content.invoice-application__modal .mi-modal__footer .mi-modal__button {
    border-radius: .16667rem;
    flex: 1 1;
    font-size: .38889rem;
    height: 1rem;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0
}

.invoice-application-modal {
    background-color: #fff
}

.invoice-application-modal .invoice-application-modal__header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-bottom: .41667rem;
    position: relative
}

.invoice-application-modal .invoice-application-modal__header .title {
    box-sizing: border-box;
    color: #191919;
    font-size: .5rem;
    line-height: .5rem;
    padding: 0 .5rem;
    text-align: center;
    width: 100%
}

.invoice-application-modal .invoice-application-modal__header .close {
    font-size: .44444rem;
    height: .44444rem;
    position: absolute;
    right: 0;
    width: .44444rem
}

.invoice-application-modal .invoice-application-modal__content {
    background-color: #fff;
    box-sizing: border-box;
    display: border-box
}

.invoice-application-modal .invoice-application-modal__content .invoice-application-modal__form-label {
    color: #191919;
    font-size: .33333rem;
    font-weight: 400;
    line-height: .41667rem;
    margin-bottom: .22222rem
}

.invoice-application-modal .invoice-application-modal__form-content {
    margin-bottom: .38889rem
}

.invoice-application-modal .invoice-application-modal__form-content__error-msg {
    color: #f22424;
    font-size: .33333rem;
    line-height: .33333rem;
    margin-top: .16667rem
}

.invoice-application-modal .invoice-application-modal__form-item:last-child .invoice-application-modal__form-content {
    margin-bottom: 0
}

.invoice-application-modal .invoice-application-modal__form-content__dropdown,.invoice-application-modal .invoice-application-modal__form-content__input {
    background: transparent;
    border: .01389rem solid #e0e0e0;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0 .22222rem;
    resize: vertical;
    width: 100%
}

.invoice-application-modal .invoice-application-modal__form-content__dropdown.mi-input-disabled,.invoice-application-modal .invoice-application-modal__form-content__input.mi-input-disabled {
    background-color: #f3f3f3;
    pointer-events: none
}

.order-refund-content {
    font-size: .36111rem;
    padding: 0 .41667rem .41667rem
}

.order-refund-content .order-refund-content__title {
    border-bottom: .01389rem solid #eee;
    border-bottom: .01389rem solid var(--border-light-variant);
    color: #b0b0b0;
    color: var(--title-light);
    font-size: .36111rem;
    line-height: 1.11111rem
}

.order-refund-content .order-refund-content__info {
    font-size: .38889rem;
    height: auto;
    margin: .41667rem 0;
    width: 100%
}

.order-refund-content .order-refund-content__list {
    background: #fff;
    background: var(--background-card-bg);
    color: #424242;
    color: var(--title-base);
    font-size: .33333rem;
    height: auto;
    margin: .41667rem 0;
    width: 100%
}

.order-refund-content .order-refund-content__list li {
    border-bottom: .02778rem solid #eee;
    border-bottom: .02778rem solid var(--border-light-variant);
    padding: .41667rem 0
}

.order-refund-content .order-refund-content__list li:last-child {
    border-bottom: none
}

.order-refund-content .order-refund-content__list dd {
    margin: 0;
    white-space: pre-line
}

.order-refund-content .order-refund-content__list dl {
    align-items: center;
    display: flex;
    line-height: .44444rem;
    margin: 0;
    min-height: .58333rem
}

.order-refund-content .order-refund-content__list dt {
    flex-basis: 2.36111rem;
    flex-shrink: 0;
    margin-right: .41667rem
}

.order-total {
    font-size: .38889rem;
    height: auto;
    margin: .41667rem 0;
    width: 100%
}

.order-total span:first-child {
    color: #222;
    color: var(--title-dark-variant)
}

.order-total span:last-child {
    color: #666;
    color: var(--content-base-variant)
}

.order-total .order-total__wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column
}

.order-total span.order-total__amount {
    color: #ff6700;
    color: var(--primary-base)
}

.order-total .order-total__vat-info {
    font-size: .33333rem;
    margin-top: .06944rem
}

.order-total li {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 1.04167rem;
    justify-content: space-between;
    padding: 0 .41667rem;
    width: 100%
}

.order-total li .deposit-paid {
    align-items: center;
    display: flex;
    max-width: 7.91667rem
}

.order-total li .deposit-paid span {
    white-space: nowrap
}

.order-total li .deposit-paid .deposit-reminder {
    background: #ff6700;
    background: var(--background-primary);
    border-radius: .08333rem;
    color: #fff;
    color: var(--title-primary-variant-2);
    flex-grow: 1;
    font-size: .27778rem;
    line-height: .47222rem;
    margin-left: .13889rem;
    padding: .02778rem .13889rem
}

.order-total li .order-total__track {
    border: .01389rem solid #ff6700;
    border: .01389rem solid var(--border-primary);
    border-radius: .08333rem;
    color: #ff6700;
    color: var(--primary-base);
    font-size: .27778rem;
    height: .33333rem;
    line-height: .33333rem;
    margin-left: .13889rem;
    padding: .02778rem .11111rem
}

.order-total .shipping-detail,.order-total .TCS-detail {
    border: .02778rem solid #b0b0b0;
    border-radius: 50%;
    color: #b0b0b0;
    display: inline-block;
    font-size: .22222rem;
    font-style: normal;
    font-weight: 700;
    height: .38889rem;
    line-height: .38889rem;
    margin-left: .13889rem;
    text-align: center;
    vertical-align: middle;
    width: .38889rem
}

.order-total-container-no-margin {
    height: 0!important;
    margin-bottom: 0!important
}

.shipping-detail-wrap {
    background: rgba(0,0,0,.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

.shipping-detail-wrap .shipping-detail-main {
    background: #fff;
    border-radius: .27778rem;
    bottom: 0;
    height: 3.61111rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 8.33333rem
}

.shipping-detail-wrap .shipping-detail-main .shipping-title {
    color: rgba(255,105,0,.98);
    font-size: .5rem;
    font-weight: 400;
    height: .61111rem;
    line-height: .61111rem;
    margin: .55556rem 0 .41667rem;
    text-align: center
}

.shipping-detail-wrap .shipping-detail-main .shipping-dis {
    color: #424242;
    height: .41667rem;
    line-height: .41667rem;
    margin-bottom: .27778rem;
    padding: 0 .625rem 0 .55556rem
}

.shipping-detail-wrap .shipping-detail-main .shipping-dis .shipping-name {
    float: left
}

.shipping-detail-wrap .shipping-detail-main .shipping-dis .shipping-price {
    float: right
}

.shipping-detail-wrap .shipping-detail-main .shipping-close {
    border-top: .01389rem solid #eee;
    color: #ff6700;
    font-size: .44444rem;
    font-weight: 400;
    height: 1.41667rem;
    line-height: 1.41667rem;
    text-align: center
}

.TCS-detail-wrap {
    background: rgba(0,0,0,.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11
}

.TCS-detail-wrap .TCS-detail-main {
    background: #fff;
    border-radius: .27778rem;
    bottom: 0;
    height: 7.77778rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 8.33333rem
}

.TCS-detail-wrap .TCS-detail-main .TCS-dis {
    color: #424242;
    font-size: .41667rem;
    font-weight: 500;
    line-height: .69444rem;
    padding: .55556rem
}

.TCS-detail-wrap .TCS-detail-main .TCS-close {
    border-top: .01389rem solid #eee;
    color: #ff6700;
    font-size: .44444rem;
    font-weight: 5.55556rem;
    height: .41667rem;
    line-height: .41667rem;
    padding-top: .41667rem;
    text-align: center
}

.order-view .order-weu-trade-in {
    font-size: .38889rem;
    padding: 0 .41667rem
}

.order-view .order-weu-trade-in .trade-in__detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .33333rem 0
}

.order-view .order-weu-trade-in .trade-in__detail:first-child:not(:only-child) {
    border-bottom: .01389rem solid #eee
}

.order-view .order-weu-trade-in .detail__link {
    color: #ff6900
}

.order-view section.order-bottom-bar {
    align-items: center;
    background-color: #fff;
    background-color: var(--background-light);
    border-top: .01389rem solid #f9f9fa;
    border-top: .01389rem solid var(--background-base-variant);
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: .36111rem;
    justify-content: space-between;
    min-height: 1.68056rem;
    padding: .20833rem .27778rem calc(.27778rem + env(safe-area-inset-bottom));
    position: sticky;
    width: 100%
}

.order-view section.order-bottom-bar .order-bottom-bar__total {
    margin: .20833rem .13889rem;
    white-space: nowrap
}

.order-view section.order-bottom-bar .order-bottom-bar__total-count {
    color: #ff6700;
    color: var(--primary-base)
}

.order-view section.order-bottom-bar .order-bottom-bar__vat-info {
    color: #666;
    color: var(--content-base-variant);
    font-size: .33333rem;
    margin-top: .06944rem
}

.order-view section.order-bottom-bar .order-remind {
    align-items: center;
    display: flex
}

.order-view section.order-bottom-bar .order-remind .order-remind-time {
    margin-left: .27778rem
}

.order-view section.order-bottom-bar .order-remind .order-remind-time__hour {
    color: #b0b0b0
}

.order-view section.order-bottom-bar .dowload-invoice {
    display: inline;
    position: relative
}

.order-view section.order-bottom-bar .dowload-invoice .popover {
    background-color: #fff;
    border: .01389rem solid #eee;
    border-radius: .05556rem;
    bottom: 1.11111rem;
    box-shadow: 0 .13889rem .16667rem rgba(25,25,25,.08);
    color: #898989;
    position: absolute;
    right: 0;
    z-index: 11
}

.order-view section.order-bottom-bar .dowload-invoice .popover .url-item {
    font-size: .41667rem;
    padding: .30556rem .45833rem
}

.order-view section.order-bottom-bar .dowload-invoice .popover .url-item:not(:last-child) {
    border-bottom: .01389rem solid #eee
}

.order-view section.order-bottom-bar .dowload-invoice .popover .triangle {
    border: .19444rem solid transparent;
    border-top-color: #fff;
    bottom: -.34722rem;
    height: 0;
    position: absolute;
    right: .69444rem;
    width: 0
}

.order-view section.order-bottom-bar .dowload-invoice .popover a {
    display: block
}

.order-view section.order-bottom-bar .dowload-invoice-mask {
    background: transparent;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 10
}

.mi-modal.mi-modal--mobile .mi-modal__overlay {
    z-index: 20!important
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile {
    padding: 0
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile header {
    border: 0;
    padding-left: .58333rem;
    padding-right: .58333rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile header .mi-modal__title {
    font-size: .44444rem;
    font-weight: 700
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .button-close {
    top: 0
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .mi-modal__main {
    font-size: .33333rem;
    padding: 0 .58333rem .66667rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__link,.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__message,.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__subtitle {
    color: #898989;
    margin-bottom: .33333rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__message {
    background-color: transparent;
    color: #ff4e4e;
    display: block
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__link {
    color: #ff6700;
    margin-bottom: 0
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form {
    display: flex;
    flex-flow: column nowrap;
    margin-top: .44444rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-group {
    display: flex;
    flex-flow: row nowrap
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-gap {
    flex-basis: 0.22222rem;
    flex-grow: 0;
    flex-shrink: 0
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: .44444rem;
    width: 100%
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input label {
    color: #898989;
    font-size: .33333rem;
    margin-bottom: .16667rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input {
    border: .01389rem solid #e0e0e0;
    border-radius: .11111rem;
    box-sizing: border-box;
    height: .75rem;
    line-height: 1;
    outline: none;
    padding: .16667rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input::-moz-placeholder {
    color: #ccc
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input::placeholder {
    color: #ccc
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input:focus {
    border-color: #d0d0d0
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input:not(:-moz-placeholder-shown):invalid {
    border-color: #ff4e4e
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input:focus:invalid,.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input:not(:placeholder-shown):invalid {
    border-color: #ff4e4e
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input:-moz-read-only {
    background-color: #eee;
    cursor: not-allowed
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input:disabled,.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input input:read-only {
    background-color: #eee;
    cursor: not-allowed
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input mark {
    background-color: transparent;
    color: #ff4e4e;
    font-size: .25rem;
    margin-top: .08333rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-input .split-payment-modal__form-extra {
    color: #ff6700
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-flex {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-flex span {
    background-color: #e0e0e0;
    border-bottom-left-radius: .11111rem;
    border-top-left-radius: .11111rem;
    box-sizing: border-box;
    display: block;
    height: .75rem;
    padding: .16667rem .22222rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-flex span+input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-flex input[type=text] {
    flex-grow: 1
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-flex input[type=checkbox] {
    display: none
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-flex input[type=checkbox]+label {
    font-size: .30556rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-flex input[type=checkbox]+label a {
    color: #ff6700;
    font-size: .30556rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-checkbox {
    align-items: center;
    border: .01389rem solid #b0b0b0;
    border: .01389rem solid var(--border-input);
    border-radius: .05556rem;
    box-sizing: border-box;
    display: inline-flex;
    flex-basis: auto;
    height: .30556rem;
    justify-content: center;
    margin-right: .16667rem;
    margin-top: .04167rem;
    width: .30556rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-checkbox.split-payment-modal__form-checkbox--checked {
    background: #ff6700;
    background: var(--background-primary);
    border: 0;
    color: #fff;
    color: var(--link-light-variant)
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-checkbox .icon-check {
    color: #fff;
    color: var(--primary-variant);
    flex-shrink: 0;
    font-size: .25rem;
    transform: scale(.5)
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-submit {
    align-items: center;
    align-self: center;
    background: #ff6700;
    background: var(--background-primary);
    border: 0;
    border-radius: .11111rem;
    color: #fff;
    color: var(--title-primary-variant-5);
    cursor: pointer;
    display: flex;
    font-size: .33333rem;
    height: .83333rem;
    justify-content: center;
    margin-top: .44444rem;
    padding: 0 .20833rem;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__form .split-payment-modal__form-submit:disabled {
    background-color: #b0b0b0;
    background-color: var(--background-secondary-variant-3);
    color: #fff;
    color: var(--title-primary-variant-4);
    cursor: not-allowed
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__upload-list .upload__item {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: .44444rem;
    width: 100%
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__upload-list .upload__label {
    color: #898989;
    font-size: .33333rem;
    margin-bottom: .16667rem
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__upload-list .upload__uploader--disabled {
    display: none
}

.mi-modal__content.split-payment-modal.split-payment-modal--mobile .split-payment-modal__upload-list .preview__file--title {
    width: 100%
}

.alert-modal.alert-modal--mobile .alert-modal-common__overlay {
    z-index: 20!important
}

.alert-modal.alert-modal--mobile .alert-modal__title {
    margin: 0
}

.alert-modal.alert-modal--mobile .alert-modal__title+.alert-modal__message {
    display: block;
    margin-top: .5rem
}
